[2019-04-01 11:11] jginternational commented on #566
It depends on the element you've selected in the Parts section of the tree.
In this 3D example, I've selected Solid small displacements element ( SmallDisplacementElement3D4N ) and activated Von Mises stress in Results > On element

![image](https://user-images.githubusercontent.com/5918085/55323356-25025380-547f-11e9-9b0d-76d552dfe204.png)

So in postprocess I can activate the Contour fill over V

[2019-04-01 15:16] #565 closed

[2019-04-02 10:17] jginternational opened #573 "DEM Things"
- [x] Materials -> Const Law: Cherry pick from release
- [ ] Boundary Conditions: DEM-X over mesh volume only (Spheres)
- [ ] Boundary Conditions: FixedDOFs no sub-parameters (@farrufat-cimne )

[2019-04-05 09:28] pooyan-dadvand commented on #567
Maybe we can start with StructuralMechanics which also has restart implemented. @KratosMultiphysics/structural-mechanics?

[2019-04-05 09:38] philbucher commented on #567
I did the generic implementation in the Core/FluidDynamics/StructuralMechanics some time ago

I have a deadline on Monday evening, after that I can do it / help you do it @jginternational

what is in PFEM is outdated I think

[2019-04-05 11:24] adityaghantasala opened #576 "New release 7.0.2 not writing submodelparts"
I realized that the new problemtype 7.0.2 (in developer mode) is not writing the additional sub modelparts which are defined under Add SubModelPart section.

I tried it for a 2D fluid problem.

[2019-04-05 12:04] jginternational commented on #567
Ok @philbucher ! 😃

[2019-04-08 10:35] jginternational opened #577 "Add tabs to condition's parameters"
CustomLib allows the use of 1 level of tabs inside Conditions, so instead of

[code]

We could have

[code]

Pros:
- Conditions with a large number of parameters will not make their window to grow
- Parameters can be grouped by 'families' or 'categories'

Cons:
- Conditions with multiple parameter's origin (Like Parts -some from element, some from constitutive law-) will have a difficult implement

[2019-04-12 08:10] clazaro commented on #566
The `outputs` block of both shell element items in `Elements.xml` only include `CAUCHY_STRESS_TENSOR` as output parameter. Cauchy stresses are no output for those elements. It would seem meaningful to substitute the block by
[code]

[2019-04-12 11:30] rubenzorrilla commented on #566
I'll try to have a look. @clazaro thanks for the valuable info!

[2019-04-23 18:50] jginternational commented on #576
@adityaghantasala I'm working on it. This feature was disabled when we changed the way to print the conditions.

@RiccardoRossi @rubenzorrilla  @KratosMultiphysics/fluid-dynamics question for you
Imagine a 2D case. in the 'Begin conditions' seccion we'll print the skin mesh, and assuming that the id is unique (we discussed that a lot, and it's finally developed this way)
![image](https://user-imag

[2019-04-23 19:02] jginternational commented on #576
This [commit](https://github.com/KratosMultiphysics/GiDInterface/commit/df0e634faca051210c1eb28547a4b5a3a2923126) assumes the second option. print again with the same ID

[2019-04-23 19:27] #477 closed

[2019-04-24 04:27] RiccardoRossi commented on #576
no! never print again the same connectivity!!!

On Tue, Apr 23, 2019, 9:02 PM Javi Gárate <notifications@github.com> wrote:

[2019-04-24 05:33] RiccardoRossi commented on #576
@Javi Gárate <javigarate7@gmail.com>
i now have a keyboard to type a little more easily.

every time we read the connectivity we create a new element/condition so WE
SHOULD NOT DO IT!! (for the fluid)

instead you should simply output in the submodelpart section the id which
you assigned to that.
but...this was working correctly, why did u change???

Riccardo

On Wed, Apr 24, 2019 at 6:26 AM Ricca

[2019-04-24 10:10] #497 closed

[2019-04-25 08:13] philbucher commented on #567
For saving the restart we meanwhile use the [`save_restart_process`](https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/python_scripts/save_restart_process.py)

This is an output-process, same as the gid-output-process

You can find the options [here](https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/python_scripts/save_restart_process.py#L21-L27) but I am not sure which

[2019-04-25 08:24] philbucher commented on #428
+1 for the proposal of @loumalouomega
It seems like at least for structural its not a war but rather a consenses :+1:

we are having problems with this over and over again, the latest was @KlausBSautter

[2019-04-25 08:50] pooyan-dadvand commented on #428
I have added this to @KratosMultiphysics/technical-committee todo

[2019-04-25 09:50] AlejandroCornejo commented on #428
+1 to the proposal! this issue always gives problems (at least for me and some students that use the CL)
Thank you @loumalouomega

[2019-04-26 08:16] rubenzorrilla commented on #428
+1. The proposal also makes sense to me.

But how can this be translated to the GiD GUI? @jginternational would it be possible to add another checkbox as the X, Y and Z constraint that says X, Y and Z do nothing (or something similar)

[2019-04-26 10:22] jginternational commented on #428
@rubenzorrilla
That's already implemented for 3-component (XYZ) parameters. You can use the Enable field in the parameter.
for example:
Enable_X = true
Value_X = 0.0
Enable_Y = false
Enable_Z = true
ByFunction_Z = true
Function_Z = 2*t

(I'm out of the office now so I can't attach a screenshot)

[2019-04-26 10:46] rubenzorrilla commented on #428
But eventually this would have to be selected by the user such that if not enabled it the project parameters writing sets null. Am I wrong?

[2019-04-26 10:56] ZhimingGuo opened #586 "supporting for hexahedra element type"
Don't Gidinterface support Hexahedra element type? there pop up one error when i am trying to draw hexahedra mesh for hexahedron beam.
![Screenshot from 2019-04-26 18-49-40](https://user-images.githubusercontent.com/26964544/56803360-fc3e6580-6854-11e9-9eeb-1ddb36a2e45f.png)

[2019-04-26 11:04] loumalouomega commented on #586
You need to create a regular mesh and assign sizes in each edge

[2019-04-26 11:25] ZhimingGuo commented on #586
what does the regular mesh mean?

[2019-04-26 11:33] ZhimingGuo commented on #586
it is done, thanks

[2019-04-26 12:46] RiccardoRossi commented on #428
I am a little lost :-(

is the documentation here wrong?

https://github.com/KratosMultiphysics/Kratos/wiki/How-to-use-Processes-In-the-application-of-BCs

[2019-04-26 13:21] jcotela commented on #576
@jginternational in your example, the fluid app would expect one LineCondition3D2N (one entry in the `Begin Conditions...End Conditions` block) belonging to both submodelparts (its ID listed in the condition list for both `SubModelPart` blocks).

As @RiccardoRossi, I was also under the impression that this has been the case for a long time now.

[2019-04-26 19:08] #586 closed

[2019-04-30 15:06] jginternational commented on #523
- Bug: DEM example old version.
- feature: List of hydrodynamic_law_parameters in project params (one for each DEM Property)
- Check PARTICLE_SPHERICITY in properties (inlet & dem)
- Injector type for swimming in inlet process

[2019-05-03 10:04] loumalouomega commented on #434
@AlejandroCornejo

[2019-05-03 10:04] #77 closed

[2019-05-03 10:04] #389 closed

[2019-05-08 08:51] jginternational commented on #576
I think it's fixed

[2019-05-08 12:47] VeronikaSinger opened #590 "No output files (mdpa json) are written in MPM"
I tried to use the current GIDInterface for MPM but I cannot write out any mdpa or json files. I tried some earlier versions; e.g the version 10 weeks ago (Merge pull request #527 from KratosMultiphysics/hotfix-materials-file ) is working as usual.

[2019-05-08 16:48] jginternational commented on #590
Hi @ga69kid

Could you attach the model you are trying to calculate? (generate a zip containing the .gid folder of the model)

[2019-05-09 05:34] ga69kid commented on #590
Hi,
here is a small example.
[Test.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/3160486/Test.gid.zip)
Thanks for the support.

[2019-05-09 11:11] RiccardoRossi commented on #428
ping!

[2019-05-10 21:25] #576 closed

[2019-05-15 18:24] MagaFem opened #592 "import mdpa in GiD"
I translated an Abaqus mesh with meshio to mdpa. How can i open this and give boundary conditions in GiD?

[2019-05-16 05:55] rubenzorrilla commented on #592
Once you load the Kratos GUI in GiD, in the "Kratos" tab in the top ribbon bar you can select "Import MDPA" to load it.

[2019-05-17 14:04] MagaFem commented on #592
Did not see, thanks. Importing and loading model possible. Boundary conditions dont work. Or Im missing something again?

[2019-05-20 07:08] rubenzorrilla commented on #592
This tool only imports the .mdpa, which contains the model geometry. To impose the BCs you will need to set the GiD groups to the geometrical entities of interest to then assign such groups to the BCs section of the Kratos tree.

[2019-05-20 10:53] jginternational commented on #592
Hi @MagaFem
The MDPA importer tool imports the mdpa, creates it's mesh and creates the groups according to the MDPA submodelparts. The BC must be assigned to the tree manually, but the groups are automatically created.

You can check it's implementation in:
https://github.com/KratosMultiphysics/GiDInterface/blob/master/kratos.gid/scripts/Controllers/MdpaImportMesh.tcl

[2019-05-20 11:19] jginternational commented on #590
You've detected a bug. 👍

The fast way to make it work untill I fix it is to un-collapse (open) this tree sections:
![image](https://user-images.githubusercontent.com/5918085/58017965-d88fd780-7b01-11e9-9d05-8152696e89ea.png)

[2019-05-21 11:15] pooyan-dadvand commented on #428
@KratosMultiphysics/technical-committee would like to know the opinion of @KratosMultiphysics/interface-committee about it as it directly changes the current input.

[2019-05-22 15:20] jginternational opened #594 "Add menu in preferences"
Copy from Granular plugin

[2019-05-23 07:47] philbucher commented on #488
related to https://github.com/KratosMultiphysics/Kratos/issues/4773

[2019-05-29 14:48] rubenzorrilla opened #597 "Chimera GiD GUI"
This is a reminder to keep the new Chimera GUI development alive.

I'm attaching a reference test case that @adityaghantasala sent to me.
[chimera_cross_test_case.zip](https://github.com/KratosMultiphysics/GiDInterface/files/3233055/chimera_cross_test_case.zip)

[2019-05-29 19:19] #444 closed

[2019-05-30 08:07] MagaFem commented on #592
I now have the problem that when trying to run this from GID.  MainKratos.py and the JSON files are not written. is it possible to read a mesh into GID, apply loads and BCs and then solve with kratos multiphysics?

[2019-05-30 11:15] pooyan-dadvand commented on #428
Any comment from @KratosMultiphysics/interface-committee?

[2019-05-30 11:19] jginternational commented on #592
The process is always the same:

1. Draw or import a geometry
2. Apply loads and BC
3. Mesh
4. Write files and Calculate (the rocket icon)

[2019-05-30 17:30] MagaFem commented on #592
Thanks @jginternational!
Sorry, it was not clear. I am reading in a mesh that I want to analyze (and not draw new). Is this not possible?

[2019-05-31 07:07] antonialarese commented on #428
@pooyan-dadvand sorry for the silence. I would need a brief summary since from the discussion is not fully clear what you are discussing exactly. As @RiccardoRossi , I am a bit lost.

As far as I know now there is the CONSTRAINED/NOT CONSTRAINED "flag" for each variable (and relative components, right? Is that the thing that gives problems? Or  are you now asking to set  the VALUE associated to th

[2019-05-31 08:10] pooyan-dadvand commented on #428
The constrained flag is for imposing the dirichlet condition: If constrained we fix the dof. But if is not the value applied without fixing the dof. The problem is that this value applies in each time step now.

There is another flag `ENABLE` which says if any value assigned to the node which is useful for vector component when we want to apply a value to component x but not to the rest. However t

[2019-05-31 08:42] rubenzorrilla commented on #428
@pooyan-dadvand yes you're right. In any case I'll try to further clarify this.

Imagine that the user wants to set, component by component, the values of one vector variable. According to my understanding, for each component there are 3 options:
1) Do nothing
2) Set but let it free
3) Set and fix
Note that due to the manner we implemented the processes in the analysis stage, any of these operatio

[2019-05-31 08:49] RiccardoRossi commented on #428
but, can't we have a "do nothing" option in gid, which actually writes "null"?

[2019-05-31 09:22] rubenzorrilla commented on #428
I briefly discussed this with @jginternational and he has some ideas to do this.

[2019-05-31 09:50] pooyan-dadvand commented on #428
But in GiD we have the Enable_X = true, we may import that one instead of null in value. What would be the advantage/disadvantage of using null in value respect to using another parameter?

[2019-05-31 09:51] RiccardoRossi commented on #428
null is a keyword in json ...

[2019-05-31 09:52] RiccardoRossi commented on #428
also changing the interface would break existing code that works correctly

[2019-05-31 09:52] rubenzorrilla commented on #428
And all of our processes assume that "null is provided in "values" array not in an "enabled" array

[2019-05-31 09:55] pooyan-dadvand commented on #428
I see. Thanks!

[2019-06-03 11:02] jginternational commented on #592
Well, thats possible for some apps.
For example, in Structural Mechanics app, you need to generate the mesh with GiD if you are using any Beam element, because in the meshing process GiD assigns the local axes to the linear elements

In most apps you can create the groups to apply the loads and conditions and assign mesh elements and nodes to them.

Anyway, my recommendation is to **import the geo

[2019-06-04 10:00] jginternational commented on #428
I'm working on it and I'll bring a solution this week

@KratosMultiphysics/interface-committee

[2019-06-13 17:54] jginternational commented on #597
Hi @rubenzorrilla and @adityaghantasala
My proposal for the ProjectParameters > solver_settings is the following:

[code]

[2019-06-13 18:30] adityaghantasala commented on #597
+1 for adding chimera_parts in the solver settings. I will make the necessary changes in the implementation to use that.
secondly a question :
I do like the idea of using separate mdpas for patches. But am now sure if I understand how to merge all those loaded modelparts into one ! This is because the Chimera formulation needs all (background and patches) to be in pne single modelpart and this is

[2019-06-13 18:31] adityaghantasala commented on #597
Also the parameter

`"implementation": "MPC",`

is not needed anymore.

[2019-06-14 07:30] rubenzorrilla commented on #597
I think that if we write the .mdpa's as we do in the FSI app (with no repeated ids.) it think it should be possible to read them one by one and add them to the same model part.

[2019-06-14 07:35] adityaghantasala commented on #597
Ok .. Then @jginternational I have no objection if they are written different mdpa files with their respective submodelparts. But this means the advantage that @jginternational  says that is not requiring to remesh is not anymore present right .. one has to load the whole .gid and then edit it ?

[2019-06-14 07:37] philbucher commented on #597
I thought everything has to me in one mdpa because of the fluid solver?
=> volume_model_part?

[2019-06-14 07:47] adityaghantasala commented on #597
@philbucher we can combine them in the chimera solver. It should not be a problem.
Why I am interested in doing this is the flexibility of having the possibility of meshing background and patches differently.
If what @jginternational is proposing does not give this ... I think we should not do it.

[2019-06-14 08:35] rubenzorrilla commented on #597
Actually to have capability is what @jginternational and me discussed yesterday. We just wanted your confirmation to carry on the developments.

We will provide you with a GUI test case once these features are implemented so you can update the solver accordingly. Furthermore, we will save the cross section case you sent me as predefined example.

[2019-06-14 09:15] adityaghantasala commented on #597
I definitely love to have such capability. But before that, I suggest a short skype call to completely be on the same page.

Perfect ! . The cross section is a nice example. We can use it. How difficult is it to change later on ?

[2019-06-14 09:30] rubenzorrilla commented on #597
Fine for me. @jginternational do you have any date & time constraint?

This would depend on the patch geometry... The nice point is that you can record macros in .tcl while drawing the geometry in GiD so you can open the code it creates and paste it in the example script. Thus, for simple geometries (the ones you can generate by using the GiD sketch tools) it should be more or less straightforward

[2019-06-17 20:14] loumalouomega opened #603 "Error message"
I have the following error message loading the problemtype:

![imagen](https://user-images.githubusercontent.com/19991680/59633642-43f2b680-914d-11e9-9b69-f81a686d8b62.png)

[2019-06-18 10:40] jginternational commented on #603
Wich is your GiD version?

I assume you are in the master branch of kratos GiDInterface

[2019-06-18 10:41] loumalouomega commented on #603
last developer version, last master GidInterface

[2019-06-18 13:22] jginternational commented on #603
I've tried to reproduce the error in a new clean linux system (Ubuntu 18) with a new GiD 14.1.3d and everything goes fine.

I'll need more info

[2019-06-18 13:23] loumalouomega commented on #603
The only difference is that I use Ubuntu 19.04

[2019-06-18 14:06] jginternational commented on #603
Did you install GiD using the installer or the tar file?

[2019-06-18 14:24] jginternational opened #604 "Potential flow app is broken"
The file ProjectParameters.json that generates the Potential Flow example (NACA 0012) is not working, and it's different to the ones available in the test folder of Kratos.

Let's make it great again!

[2019-06-18 14:35] RiccardoRossi commented on #428
ping @KratosMultiphysics/interface-committee

[2019-06-18 14:51] loumalouomega commented on #603
I tried both

[2019-06-18 17:49] loumalouomega commented on #603
Just to mention that release gives the same error

[2019-06-18 17:51] loumalouomega commented on #603
@escolano any idea?

[2019-06-18 18:59] loumalouomega commented on #603
I can confirm that is something on the 19.04, in a clean user configuration same error (installing from zero)

[2019-06-18 19:01] loumalouomega commented on #603
@jginternational can you tell me if it is safe to deactivate this command?

[2019-06-19 10:17] jginternational commented on #603
You can try to open a clean GiD, with no problemtype loaded, and execute in the command line
-np- source {/home/vicente/bin/GiD/scripts/customLib/customLib/gid_groups_conds.tcl}

If the error is still there, it's a GiD problem

[2019-06-19 10:25] jginternational commented on #603
Anyway I've tried it in a new clean Ubuntu 19.04, GiD 14.1.3d from tar.gz and it works fine

[2019-06-19 11:41] inigolcanalejo commented on #604
https://github.com/KratosMultiphysics/GiDInterface/pull/605 should fix it!

[2019-06-19 13:44] jgonzalezusua opened #606 "Need to change Kratos to developer mode"
I am trying to use some application like PfemFluidDynamics and I got this error "You need to change to Developer mode in the Kratos menu", however in the Kratos menu there is not this option. The error is the following:
[code]
`
"::PfemFluid::Init"
    (file "/home/ipouplana/GiDx64/gid14.1.3d/problemtypes/kratos.gid/apps/PfemFluid/start.tcl" line 63)
`
[code]
`
"::gidutils::source /home/ipouplana/

[2019-06-19 16:19] jginternational commented on #606
In the Kratos Menu can find the Kratos preferences
![image](https://user-images.githubusercontent.com/5918085/59782451-41fc3500-92be-11e9-9f69-baa9a8f8f990.png)

There you'll find the Mode:
![image](https://user-images.githubusercontent.com/5918085/59782504-59d3b900-92be-11e9-8fcb-b14cde915d66.png)

If that does not work, execute this in the command line:
`-np- set ::Kratos::kratos_private(DevMode

[2019-06-19 16:32] escolano commented on #603
By the error message it is like the file /home/vicente/bin/GiD/scripts/customLib/customLib/gid_groups_conds.tcl was corrupted
(doesn't try to open it with a text editor, it is a binary encrypted file)
try to do a md5sum of the file and let us know to check its integrity
Confirm that the same happen using the installer and the .tar.gz (maybe is corrupted only in one of them)
What happen if do you s

[2019-06-20 08:51] jgonzalezusua commented on #606
Ok, in Kratos preferences the Kratos menu in the Preferences Windows does not appear, but executing the command the problem is solved.

Thanks for your attention

[2019-06-20 08:51] #606 closed

[2019-06-28 13:03] rubenzorrilla commented on #597
After speaking with @adityaghantasala, the TODOs are:

- [ ] Remove the `implementation` flag in `solver_settings`.
- [ ] We agree on having two (or eventually n) .mdpa's (background and patches). For this to work, we need to ensure that the ids. are not repeated.
- [ ] Remove the `chimera` section in the end part of the .json file.

[2019-06-28 13:09] rubenzorrilla commented on #597
Regarding the GUI, it looks OK. The unique thing missing is to make it possible that the user selects the `model_part_inside_boundary_name`. This is the interior boundary of the patch. The exterior boundary of the patch is automatically found by the solver.

This would imply to assign two GiD groups when creating one `Chimera Parts` in the interface. @jginternational any hint?

[2019-06-28 13:16] rubenzorrilla commented on #597
We found a solution to circumvent this if we create a new `Chimera boundary` in the `Conditions` sections. Then we do a list of Chimera boundaries in the json so @adityaghantasala can loop it to mark such Chimera boundaries.

[2019-07-01 20:27] #604 closed

[2019-07-01 20:28] jginternational commented on #603
@loumalouomega is this still happening?

[2019-07-01 20:50] loumalouomega commented on #603
Yes, but I could not try anything yet.

El lun., 1 jul. 2019 22:28, Javi Gárate <notifications@github.com> escribió:

[2019-07-01 20:56] jginternational opened #610 "FSI examples broken"
Changes in the Structural app have broken the FSI

Check the write settings:
[code]

[2019-07-01 20:57] #594 closed

[2019-07-05 10:07] philbucher commented on #610
I think this is an error in the settings, at least on first sight this is not related to changes in the Structural (recently we didn't change much)
ping @rubenzorrilla

[2019-07-05 10:10] rubenzorrilla commented on #610
Sorry, I'll take care of this ASAP.

[2019-07-05 10:18] rubenzorrilla commented on #610
I agree it seems to be an error in the writing of the json settings. It is setting the "Structure" model part as root model part of the "fluid_computational_model_part".

[2019-07-05 13:03] loumalouomega commented on #603
md5sum looks OK:
![imagen](https://user-images.githubusercontent.com/19991680/60724160-f8565000-9f35-11e9-8d6a-22f8329f0fa0.png)

Looks like:

![imagen](https://user-images.githubusercontent.com/19991680/60724049-af060080-9f35-11e9-8c99-86f464d6b441.png)

[2019-07-05 14:02] #610 closed

[2019-07-05 14:02] jginternational commented on #610
@rubenzorrilla Fixed!

[2019-07-05 15:17] rubenzorrilla commented on #610
Thanks!

[2019-07-08 09:42] AlejandroCornejo opened #613 "KratosInterface apparently does not show the main menu"
Dear all,
Lately I've been using the latest version of the GiD Interface and now, when I load the ptype, the main menu it's not shown (Structural Mech Application).
Am I doing any wrong @jginternational ?
THX

@loumalouomega said that in linux it wasn't working too

[2019-07-08 10:48] rubenzorrilla commented on #613
Have you tried Kratos --> Kratos data?

[2019-07-08 10:51] AlejandroCornejo commented on #613
I've loaded the ptype (data->ptype->Kratos) and nothing happens :S So I do not have the Kratos folder

[2019-07-08 11:00] rubenzorrilla commented on #613
You should have it in the top ribbon. If not you are not properly loading the problem type.

[2019-07-08 11:03] AlejandroCornejo commented on #613
yeah it should be but it doesn't... I've downloaded the interface from github, copied in the ptype folders and gid says:
`Problem type loaded. 6 conditions read.`
but nothing else happens..

[2019-07-08 12:37] AlejandroCornejo commented on #613
Ok! As @escolano told me, downloading a newer version of GiD the problem is solved.
THX

[2019-07-08 12:37] #613 closed

[2019-07-09 12:55] jginternational commented on #613
https://github.com/KratosMultiphysics/GiDInterface/blob/master/kratos.gid/kratos.xml#L8

This should be 14.1.3d....

[2019-07-09 12:58] RiccardoRossi commented on #613
not long ago we decided to wait to move to newer version until support was
stable in all the OSs

dud we reach that point?

On Tue, Jul 9, 2019, 2:55 PM Javi Gárate <notifications@github.com> wrote:

[2019-07-09 19:34] jginternational commented on #613
@RiccardoRossi a couple months ago, when we realized that it wasn't working for GiD 13.
I asked a TUM member to check if there was someone there using GiD 13 and @jcotela was the only one, so he updated and we pushed the MinimumGiDVersion to 14.1.2d

[2019-07-10 11:19] rubenzorrilla commented on #428
ping @KratosMultiphysics/interface-committee

[2019-07-10 13:41] antonialarese commented on #428
@rubenzorrilla: we had a brief mail discussion  a couple of weeks ago and @jginternational asked for more time since he was working on a possible solution.
@jginternational: any news?

[2019-07-10 14:49] jginternational commented on #428
I'm writing the long answer, which contains more questions

[2019-07-10 16:50] jginternational commented on #428
Let's see your impressions by checking some situations in the current GUI, and the equivalent in the new proposal:
## Fixin all
### Old gui
![image](https://user-images.githubusercontent.com/5918085/60980991-d09c2900-a335-11e9-9347-da9153156493.png)
You can see that there is a lot of information in the screen. This will generate the following json:
[code]
### New
![image](https://user-images.githu

[2019-07-11 12:48] loumalouomega commented on #603
Same error with 14.1.3d @escolano

[2019-07-11 13:55] escolano commented on #603
off course, the error already was with 14.1.3d, it's not?
have you tried in another computer? (we are not able to reproduce it in our computers, also with the same Linux version)
And what about previous GiD versions? (simply install and load cmas2d_customlib)
all versions fail? which is the higher version that doesn't fail, if any?

[2019-07-11 14:59] loumalouomega commented on #603
I tried in my two computers, same error. It doesn't happen with GiD 14.1.0d, but the ProblemType doesn't allow me to use that version of GiD

[2019-07-11 15:47] escolano commented on #603
try first copying the folder <GiD>\scripts\customLib\customLib_utils_c of version 14.1.0d into 14.1.3d
if continue failing try then to replace the whole folder <GiD>\scripts\customLib
and let me know the results

[2019-07-11 16:16] loumalouomega commented on #603
i will check, thanks

[2019-07-11 20:11] #592 closed

[2019-07-11 20:12] #590 closed

[2019-07-11 20:18] jginternational commented on #80
![image](https://user-images.githubusercontent.com/5918085/61082457-cc513800-a429-11e9-96df-caa60cc1a91c.png)

[2019-07-11 22:02] loumalouomega commented on #603
No, does not work

[2019-07-12 14:06] jginternational commented on #603
I've installed gid also in a clean Kubuntu 19.04 and works fine.
I don't know how to proceed

[2019-07-12 14:50] loumalouomega commented on #603
Mee too, I tried with a new user, so is not part of my local configurations.

[2019-07-12 14:51] loumalouomega commented on #603
I use zsh instead of bash, can be related?

[2019-07-13 18:23] loumalouomega commented on #603
@jginternational do I really need to use GiD14.1.2 in order to sue the problemtype?, the last stable release works on my machine

[2019-07-15 09:20] jginternational commented on #603
It will work in GiD 14.1.2d, as it the current MinimumGiDVersion,
We are soon releasing the new 14.1.4d, hope that works on your machines

[2019-07-15 10:11] jginternational commented on #603
There is a hard restriction in the use of GiD 14 version, so it should work in any GiD 14. but I cannot guarantee that it works perfect for any version previous to that 14.1.2d

Anyway, a new release is coming soon, hope it works for you

[2019-07-15 15:51] loumalouomega commented on #603
Can at least use developer mode on stable releases?

[2019-07-16 15:58] rubenzorrilla commented on #428
From the description above I understand that it is possible to impose more than one direction at the same time only if the value is the same for all the constrained (or initialized) directions.

What I don't like so much is that it is needed to set multiple constraints if the value between the directions to be set is different. The point is that there is no unique manner...

[2019-07-19 08:34] adityaghantasala opened #622 "Add SubModelPart feature"
Currently when we select that a group is to be written as an additional SubModelPart and select `Write Elements` option the following happens :

All the elements are written normally and the elements in the "SubModelPart" chosen to be written are written out again in a separate `Begin Elements - End Elements`.

This means the ImportModelPart in Kratos tries to add the elements twice and crashes wi

[2019-07-24 14:05] mpentek opened #626 "GiDx64.14.1.4d + Kratos Problemtype on Ubuntu 18 error"
Kratos 7.0.2 from internet retrieve or symbolic linking I get the following error:
![image](https://user-images.githubusercontent.com/15231695/61800054-98641280-ae2c-11e9-8cfd-6e473b4ede82.png)

The same configurations runs well with GiDx64.14.0.1.

If I try loading the Kratos problemtype from the working GiD 14.0.1 I get the following error:
![image](https://user-images.githubusercontent.com/1523

[2019-07-24 14:09] loumalouomega commented on #626
I had the same error...

El mié., 24 jul. 2019 16:05, mpentek <notifications@github.com> escribió:

[2019-07-24 14:10] loumalouomega commented on #626
I think is related with the Ubuntu version

El mié., 24 jul. 2019 16:09, Vicente Mataix Ferrándiz <tote1989@gmail.com>
escribió:

[2019-07-24 14:18] jginternational commented on #626
@mpentek have you tried to load the problemtype Examples/cmas2d_customlib?

[2019-07-24 14:23] loumalouomega commented on #626
Same error as #603

[2019-07-24 14:29] mpentek commented on #626
@jginternational

When loading Examples/cmas2d_customlib from itself:
![image](https://user-images.githubusercontent.com/15231695/61801802-b4b57e80-ae2f-11e9-85e5-4c9f5354dbcd.png)

When loading Examples/cmas2d_customlib from GiD 14.0.1:
![image](https://user-images.githubusercontent.com/15231695/61801876-d0208980-ae2f-11e9-8c49-b62bd98f5077.png)

We had an email exchange as I had an issue install

[2019-07-25 13:53] #523 closed

[2019-07-29 17:53] adityaghantasala commented on #622
Ping !

[2019-07-30 16:03] escolano commented on #603
Try the installer of GiD 14.1.3d Linux x64, it seems that the problem has been solved

[2019-07-30 16:05] loumalouomega commented on #603
Indeed it is solved, thanks @escolano

[2019-07-30 16:05] #603 closed

[2019-07-30 16:06] loumalouomega commented on #626
Try the new version of GiD, it solved my issue

[2019-08-01 13:10] mpentek commented on #626
No, did not help. I have issues I671 twice again.

[2019-08-02 07:07] mpentek commented on #626
I updated the name for the version 14.1.4d. Still valid also the 14.1.3d.

[2019-08-02 10:46] MZecchetto opened #629 "Error in DEM+PFEM interface"
Dear all,
I'm facing an issue building a PFEM+DEM model. I'm not able to generate the .mdpa file, even with the embedded example. I got the following error:
![image](https://user-images.githubusercontent.com/50821222/62364531-08a41f80-b522-11e9-9b55-d862b5d33075.png)
Also the bounding box definition gives an error.
![2](https://user-images.githubusercontent.com/50821222/62364758-a26bcc80-b522-11e9

[2019-08-05 09:04] jginternational commented on #603
bravo

[2019-08-06 06:58] mpentek opened #630 "Various problems with GiD (sometimes in combination with Kratos Problemtype) under Linux"
As a follow-up to #626 , it seems that there are way more bugs with GiD running on Linux than on Windows. Any input on why this is happening and how it could be remedied/improved? It seems that at least @loumalouomega and @AndreasWinterstein have experienced similar issues, some recently.

[2019-08-06 19:21] AndreasWinterstein commented on #630
I also want to add that the GiD website is down since this morning.

[2019-08-07 09:41] jginternational commented on #630
Well, step by step.

@AndreasWinterstein the website issue is due to the web is hosted in the university, and every year, in August, the whole UPC electric supply is switched off for a day for maintenance.

@mpentek the unix issue that some linux users are experiencing #626 is not fixable at kratos interface side. It's a GiD problem. (If you are experiencing the linux bug and try with another prob

[2019-08-07 09:42] jginternational commented on #629
I'm checking it

[2019-08-07 10:58] mpentek commented on #630
@jginternational crossing fingers that these problems are remedied in autumn

[2019-08-19 08:59] maceligueta opened #632 "Rayleigh damping parameters in Structural Mechanics Application"
Is it possible to add this feature? It would be great, so we don't need to modify the json files manually.
@jginternational @loumalouomega

[2019-08-19 09:30] loumalouomega commented on #632
Do you mean the process that automatically calculates the parameters or the manual setting? (@msandre  does not recommend to do it automatically by default, as the modal analysis is complex by itself)

[2019-08-19 12:45] maceligueta commented on #632
No, I meant the values of alpha and beta. Just add the possibility so set them from the GUI

[2019-08-19 12:55] loumalouomega commented on #632
Well, @jginternational would you do it?

[2019-08-19 13:41] jginternational commented on #632
I don't know what are we talking about!

[2019-08-19 14:35] loumalouomega commented on #632
Can you add to the interface the possibility to set the two following parameters in implicit dynamic?

https://github.com/KratosMultiphysics/Kratos/blob/fd02fad9e384601bd22042c10f0f6a4b8717284a/applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py#L40

[2019-08-20 11:54] jginternational commented on #632
Just `rayleigh_alpha `and `rayleigh_beta` ?

[2019-08-20 12:04] loumalouomega commented on #632
Yep, looks like they only want that. In any case @maceligueta you can use the process to estimate the values properly

[2019-08-20 15:13] maceligueta commented on #632
@loumalouomega . What happens with _explicit_ dynamic? Isn't it possible to use them if that is the case? I don't even know if it's implemented, however, in principle the Rayleigh parameters can be used as long as it's a dynamic case.

[2019-08-20 15:22] loumalouomega commented on #632
it can be used indeed, but I don't remember right now the implementation (I did it quite time ago). The thing is, I would use only mass damping, as the stiffness damping is expensive on explicit simulations

[2019-08-20 15:22] loumalouomega commented on #632
BTW:

https://github.com/KratosMultiphysics/Kratos/blob/fd02fad9e384601bd22042c10f0f6a4b8717284a/applications/StructuralMechanicsApplication/python_scripts/automatic_rayleigh_parameters_computation_process.py

[2019-08-20 15:23] loumalouomega commented on #632
Yes, you can use it in explicit:

https://github.com/KratosMultiphysics/Kratos/blob/fd02fad9e384601bd22042c10f0f6a4b8717284a/applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_explicit_dynamic_solver.py#L38

BTW, there are optimizations still pending for the explicit

[2019-08-21 10:01] jginternational commented on #632
So, if analysis is dynamic, add those 2 parameters, right?

[2019-08-21 10:52] loumalouomega commented on #632
Yes

[2019-08-21 16:34] loumalouomega opened #634 "Generic conditions are always 3D, even in 2D problems"
https://github.com/KratosMultiphysics/GiDInterface/blob/0b73e4959476c2308a97b8459a2867d00c1a9db8/kratos.gid/apps/Common/xml/Conditions.xml#L7

Can this be changed depending of the dimension?

[2019-08-21 17:56] rubenzorrilla commented on #634
I think It can be filtered.

[2019-08-21 19:01] loumalouomega commented on #634
I assume, it is done for the rest of elements and conditions, but I just noticed

[2019-08-22 12:19] jginternational commented on #634
@rubenzorrilla
This special condition works different

@loumalouomega
You are right, they are always in 3D, but we shouldn't change the name for the LineCondition3D2N to LineCondition2D2N because you'll still need the 3d one.

Let me think about a solution

[2019-08-22 12:29] maceligueta opened #635 "Possibility to choose what results are printed. Gid, VTK or both in Structural Mechanics Application"
As far as I've seen recently, two output processes are written in the json file. One for GiD and another one for Paraview. I think that the user cannot deactivate one of them, so both are printed always. Can we add a couple of switches in the tree to add this ability to select if they are active or not?

[2019-08-22 12:33] loumalouomega commented on #635
I thought we already add that:

![imagen](https://user-images.githubusercontent.com/19991680/63514814-c1d69380-c4e9-11e9-94e3-ca7c9d569399.png)

[2019-08-22 14:16] maceligueta commented on #635
Sorry, we did not see it. Closing.

[2019-08-22 14:16] #635 closed

[2019-08-26 10:28] jginternational commented on #632
Closable?

[2019-08-26 13:17] #632 closed

[2019-08-30 12:22] inigolcanalejo opened #639 "How to write a line condition in a 3D model"
Hi there, I am trying to

Right now the wake condition is:

[2019-08-30 12:23] #639 closed

[2019-09-05 10:13] AndreasWinterstein opened #642 "Cannot load problemtype of Kratos in GiD"
I am getting the following error when trying to load the latest version of the problemtype in the current developer version of GiD. It is the same when I am trying to load the current release:

![gid_error](https://user-images.githubusercontent.com/25392219/64333259-7a1a3680-cfd6-11e9-90a0-71696801f4a0.png)

Is this a known problem?

[2019-09-05 10:14] #630 closed

[2019-09-05 11:09] jginternational commented on #642
It used to happen long long time ago.
Anyway, it seems that you are using the GiD version 14.1.2d and the current developer is 14.1.4d

https://www.gidhome.com/download/developer-versions/linux64/

[2019-09-05 11:43] AndreasWinterstein commented on #642
Here the output with GiD 14.1.4.d.
![gid_error](https://user-images.githubusercontent.com/25392219/64338923-1e09df00-cfe3-11e9-9eb2-88a31f4b8e7d.png)

It is the same.

[2019-09-05 13:58] jginternational commented on #642
- Which linux system are you using?
- Can you try the Examples/cmas2d_customlib problemtype? Just to see if the same error appears

[2019-09-05 14:12] jginternational commented on #642
Same as #626 and #630

[2019-09-05 14:51] AndreasWinterstein commented on #642
Am am using Ubuntu 18. It was working perfectly before. The Example gives the same error.

[2019-09-05 14:56] AndreasWinterstein commented on #642
I talked to @mpentek . It seems that only the release version is working at the moment in linux.

[2019-09-06 06:17] AndreasWinterstein commented on #642
I tested it on my laptop with the same Ubuntu version. There it is working.

[2019-09-08 16:13] AlejandroCornejo opened #643 "[ContactStructuralMechanics] Missbehaviour of the normal definition"
Hi!

Recently I've been generating cases with GiD for the ContactStructuralMechApp and, despite **I've checked that the normals are ok in the preprocess, in the postprocess the normals are backwards**....

I'm wondering if something has changed in the normal condition generation :)

PD: Currently the ptype is writing ""raileigh_alpha" instead of "rayleigh_alpha" which throws an error.

Thank you k

[2019-09-09 08:02] jginternational commented on #643
Hi @AlejandroCornejo
Could you attach an example of that backward normal issue?

I'm checking the `rayleigh_alpha `one

[2019-09-09 15:53] AlejandroCornejo commented on #643
[contact_problem.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/3591427/contact_problem.gid.zip)

here you have an example :)

[2019-09-10 09:40] MZecchetto commented on #629
any news?

[2019-09-13 17:03] MZecchetto opened #645 "PFEM-DEM GUI needs to be updated like Fluid-DEM GUI"
Hi @jginternational ,

@AFranci , @maceligueta , @ipouplana and me have met and realized that the PFEM-DEM GUI is not updated according to the recent changes in the SwimmingDEMApplication.

The PFEM-DEM GUI should be almost identical to the current eulerian Fluid-DEM GUI, but replacing the eulerian fluid GUI by the PFEM fluid GUI. Could you work on that?

In the meantime, I can generate the input

[2019-10-01 15:10] rubenzorrilla commented on #428
Dear all,

#624 has been finally merged. The changes in the GUI solve the `0` vs. `null` issue. Please note that the changes imply that the old cases won't be compatible anymore since the transform tool can't handle the changes in the vectorial displacements.

[2019-10-01 15:10] #428 closed

[2019-10-03 17:12] pasenau commented on #642
Hi,
please try the last 'preliminary' version 14.1.5e which you can find here:
https://www.gidhome.com/download/developer-versions/linux64/
Thanks for your patience,

[2019-10-03 17:12] pasenau commented on #603
Hi,
please try the last 'preliminary' version 14.1.5e which you can find here:
https://www.gidhome.com/download/developer-versions/linux64/
Thanks for your patience,

[2019-10-03 17:12] pasenau commented on #626
Hi,
please try the last 'preliminary' version 14.1.5e which you can find here:
https://www.gidhome.com/download/developer-versions/linux64/
Thanks for your patience,

[2019-10-04 12:17] Gaoliu19910601 opened #648 "Run PfemSolidMechanicsApplication examples"
When I try to run the test_examples in PfemSolidMechanicsApplication:https://github.com/KratosMultiphysics/Kratos/tree/master/applications/PfemSolidMechanicsApplication/test_examples, I do not know how to run those examples. There are recognized as gid file but not specific type(mpm. pfem and so on). How I can run these examples in GID?

[2019-10-06 13:37] Gaoliu19910601 opened #649 "Error in MPM application"
Hi everyone
   It seems that the MPM application in the master branch can not be opened in GID and the error is
![Screenshot from 2019-10-06 21-37-02](https://user-images.githubusercontent.com/48948507/66270034-7ef63280-e881-11e9-9860-e7133bcbf5f9.png)
can any one fix it?

[2019-10-07 13:13] jginternational commented on #649
Thanks for the bug report!!

[2019-10-07 16:34] AFranci opened #650 "[PfemFluid] error running examples"
Hi @jginternational

The assignation of node conditions has been changed and now it seems that the interface is not working.

This is the error that I get (also when I run the pre-packed example)

invalid command name ""
    while executing
"$domNode getAttribute $attributeName $defaultValue"
    (procedure "get_domnode_attribute" line 5)
    invoked from within
"get_domnode_attribute [$group find

[2019-10-08 10:11] jginternational commented on #650
No chance to go back. I'll fix it.

[2019-10-08 11:39] Gaoliu19910601 commented on #649
@jginternational  It seems that I cannot creat a part in the GID interface. It must be a bug.

[2019-10-08 20:37] jginternational commented on #649
I fixed it here

https://github.com/KratosMultiphysics/GiDInterface/commit/a98fc33a5219164bf76983051af3fe3e0bd565e3

[2019-10-09 02:18] Gaoliu19910601 commented on #649
@jginternational
I mean that when I try to click on the part icon to creat a part，there is no response. It seems that it did not work now.

[2019-10-09 07:53] AFranci commented on #650
OK @jginternational , please fix it back as soon as you can because now the PFEM interface is broken and cannot be used.
Thank you!

[2019-10-09 10:29] AndreasWinterstein opened #653 "GENERIC condition at wrong place in *.mdpa"
If one is generating a GENERIC submodelpart with conditions the respective block is written to the wrong position in the *.mdpa file. It is written at the end of the file, but it should be written right after the other conditions created before. This does not cause any problems in serial execution, but in parallel. The file cannot be partitioned like that. If the GENERIC condition block is manuall

[2019-10-09 10:30] AndreasWinterstein commented on #642
With this it is working again. Thank you. I will close this issue.

[2019-10-09 10:30] #642 closed

[2019-10-09 14:12] jginternational commented on #649
We updated the Structural app and had this side effect

You can test it now

[2019-10-09 15:42] jginternational commented on #650
Can you test it?

[2019-10-09 15:44] Gaoliu19910601 commented on #649
Hi
@jginternational   When I try to run a case in GID interface in MPM. An error ocurred as
Traceback (most recent call last):
  File "MainKratos.py", line 17, in <module>
    simulation = ParticleMechanicsAnalysis(model,parameters)
  File "/home/gaoliu/Kratos/applications/ParticleMechanicsApplication/python_scripts/particle_mechanics_analysis.py", line 29, in __init__
    super(ParticleMechanicsA

[2019-10-09 15:47] Gaoliu19910601 commented on #649
Another question  is how to define a designated velocity of a pile (maybe it should be treated as a rigid body or just a body with a prescribed velocity?) which has a MohrCoulomb interaction with soil in MPM application, Does you know to do it.

[2019-10-09 15:59] jginternational commented on #649
I think will be answered by @bodhinandach

[2019-10-09 16:06] jginternational commented on #653
I assume you are talking about the StructuralMechanics app, right?

[2019-10-09 16:42] AFranci commented on #650
Perfect! It's working!
..only a small change: in the 2D case it should not appear the Z-option in the boundary conditions.

Thank you!

[2019-10-09 17:25] bodhinandach commented on #649
@Gaoliu19910601 you can do it by prescribing velocity to particles for moving boundaries. But you need to write it in specific derived functions from `particle_mechanics_analysis.py.`
As for the damping parameters, it is possible to use it for any constitutive laws, you just need to specify `RAYLEIGH_ALPHA` in your particle materials and the following string in your project parameters:

`"auxiliar

[2019-10-10 06:03] AndreasWinterstein commented on #653
Yes.

[2019-10-10 08:01] AndreasWinterstein commented on #653
There is an additional problem. When adding more than two GENERIC submodelparts the conditions are not numbered consecutively. This means the third condition block starts with the condition numbers from the second one.

[2019-10-10 08:01] AndreasWinterstein commented on #653
If you tell me where this can be changed in the problem type, i.e. where it is implemented I can probably try to change it myself.

[2019-10-10 10:43] jginternational commented on #653
--

OK, this situation seems like an "easy to fix" bug

I didn't know about this parallel read issues. I can easily place this generic submodelpart information anywhere but it should be together. I mean, the current mdpa structure is:

[code]

The proposed structure is:

[code]

Am I right?

Another alternative a bit more expensive would be:

[code]

[2019-10-10 11:53] Gaoliu19910601 commented on #649
Hi @bodhinandach
I have added the  string  "auxiliary_variables_list" : ["rayleigh_alpha"]  in my project parameters ,but I do not know how to add rayleigh_alpha in  particle materials, because no matter where I place it ,

[2019-10-11 15:58] philbucher commented on #653
to me the second option seems to be the correct one / the one that should work also with the partitioning
[code]

[2019-10-11 17:23] jginternational commented on #653
😄 Fortunately it's the cheapest to implement from my side @philbucher WIN WIN

[2019-10-11 17:40] philbucher commented on #653
thanks, sounds good

Let us know when you had time to make the changes, then we can test it

[2019-10-11 17:52] adityaghantasala commented on #653
@jginternational   In case it is easy for you in process of changing this ,
 may be you can also address this issue #622

[2019-10-11 19:01] jginternational commented on #653
Oh, I forgot about about this one! Sorry @adityaghantasala

[2019-10-14 10:38] AndreasWinterstein commented on #653
Yes. The second one is correct.

[2019-10-14 17:03] jginternational commented on #622
@rubenzorrilla abd @roigcarlo  I'll ask you tomorrow about this one, because I don't know if this is possible

[2019-10-15 07:47] rubenzorrilla commented on #622
Hi @adityaghantasala !

I guess you need this functionality to define the patches for your Chimera stuff. After briefly discussing about it with @jginternational , we feel that to fix the generic submodelpart's issue it's a bit tricky as it would imply to reimplement the writing just for the generic submodelpart's.

Considering that this was conceived as an auxiliary functionality to be (let's say

[2019-10-15 12:31] adityaghantasala commented on #622
Well this is not only for Chimera.
In general if i want to define a sub modelpart out of a bunch of elements, it should not write the element definition ( connectivity) again right?  Thats like if i write a sub mp of certain nodes then its like writing the nodes (coordinates and number) again.

The result of that the IO errors out and stops executing.

[2019-10-15 12:58] philbucher commented on #622
From what I understand the problem comes bcs some types of problems (e.g. structural) require the elements in the mdpa => e.g `SolidElement2D3N`. In those cases it is not a problem to have an additional generic submodelpart that has generic elements/conditions (e.g. `Element2D3N`), even on the same geometry

For others like Fluid, there we only write the generic elements/conditions, they are later

[2019-10-15 14:19] jginternational commented on #622
There is no problem with conditions, since the tcl scripts generate the ids. With the elements, we use the GiD element id, so if the same mesh element is used 2 or 3 times, it will appear always with the same ID.

In fact, I think that this is the best way, since the element is a physical entity, and should have only one element type. (A beam is always a beam, and water is always water...)

I don'

[2019-10-15 15:18] philbucher commented on #622
Thats what I thought, no worries
Maybe when moving to writing connectivities a better solution will be found

[2019-10-15 17:56] #650 closed

[2019-10-16 06:23] adityaghantasala commented on #622
Ya hope there is a better solution with this issue.

[2019-10-17 16:45] jginternational commented on #648
Hi @Gaoliu19910601

Those tests (in the kratos repository, not in the gui) are from an extremely old interface that kratos used to have several years ago. (I started working on Kratos in 2011 and that gui was already disappeared).

You are right. There are no GUI examples for the PFEM Solid application

@KratosMultiphysics/pfem

[2019-10-17 18:00] bodhinandach commented on #649
The string should be capital. Did you check?

[2019-10-18 04:40] Gaoliu19910601 commented on #648
Hi @jginternational
   Thanks for your answer. Then I will close this issue.

[2019-10-18 04:40] #648 closed

[2019-10-18 10:50] AFranci opened #659 "[PfemFluid] interface is not working"
Hi @jginternational the PFEM fluid interface is not working. Also the examples cannot be run.
What happened?
Thank you for your help.

[2019-10-18 11:05] jginternational commented on #649
@bodhinandach The thing here is that the Structural Application has the rayleig_alpha and beta parameters in the Implicit strategy, [See here](https://github.com/KratosMultiphysics/GiDInterface/blob/b4f98acca4ab67ada92f6995056f72e6fc323e73/kratos.gid/apps/Structural/xml/Strategies.xml#L6)

The error @Gaoliu19910601 is showing indicates that the parameter is written in the ProjectParameters.json an

[2019-10-18 13:34] jginternational commented on #659
Is not showing any error. This is the output of the calculation:
[code]

[2019-10-21 15:34] jginternational opened #661 "Apps ready for the next release"
Regarding the [GiD interface agreement](https://github.com/orgs/KratosMultiphysics/teams/interface-committee/discussions/5)

### Apps currently ready:
- Fluid Dynamics
- Structural Mechanics
- FSI
- DEM
- Convection Diffusion
- Buoyancy
- Conjugate heat transfer
- Embedded Fluid
- Stenosis Wizard
- Stent
- Cohesive DEM
- Potential Flow
- Fluid DEM

### Apps not ready
- PFEM Fluid: Not in kratos re

[2019-10-22 15:03] jginternational commented on #659
Duplicated in KratosMultiphysics/Kratos/issues/5828

[2019-10-22 15:03] #659 closed

[2019-10-22 17:01] #626 closed

[2019-10-22 17:42] #634 closed

[2019-10-22 18:41] jginternational commented on #530
I reopen this since

[2019-10-22 18:41] #530 closed

[2019-10-22 18:41] #629 closed

[2019-10-22 18:46] jginternational opened #662 "DEM-PFEM execution error"
This happends when running the example.

[code]

[2019-10-23 17:04] #362 closed

[2019-10-23 17:05] #320 closed

[2019-10-23 17:05] #304 closed

[2019-10-23 17:20] #10 closed

[2019-10-23 17:21] #306 closed

[2019-10-23 17:22] #81 closed

[2019-10-23 17:23] jginternational commented on #65
Close since there's no more interest on this

[2019-10-23 17:23] #65 closed

[2019-10-24 10:53] #348 closed

[2019-10-24 10:53] #180 closed

[2019-10-24 22:43] bodhinandach commented on #649
@jginternational Thanks for clarifying!

[2019-10-29 13:18] philbucher opened #665 "mdpa file size: tabs vs spaces"
I noticed that reading and rewriting an mdpa with Kratos reduces the file-size by ~25%
I checked, gid writes with spaces, while Kratos uses tabs

Without thinking abt it too much, would this be possible also in GiD to use tabs? For large models the difference can be in the GBs!

@KratosMultiphysics/technical-committee

[2019-10-29 13:28] loumalouomega commented on #665
That's because a tab is \t and for spaces are literally the double of digits

[2019-10-29 13:49] roigcarlo commented on #665
actually \t is just a single character, if they are using tab 4 they are using 4 times more :S

[2019-10-30 11:07] jginternational commented on #665
Well, I can change most of them.

I have in mind a new preference that allows users to switch between 'Optimized mdpa' vs 'readable mdpa'. The optimized will print the best to reduce memory and the readable will have tabs and spaces to fold/unfold in VSCode and have connectivities in columns.

[2019-10-30 11:30] philbucher commented on #665
+1 for readable vs optimized
in fact I did exactly this in some of my toy-implementations

[2019-10-30 12:11] ipouplana commented on #645
Hi @jginternational , have you had some time to look into this?

[2019-10-30 12:12] rubenzorrilla opened #666 "[ConvDiff] Thermomechanical GUI"
This issue is just to start the discussion about the new thermomechanical GUI. IMO should be as simple as emulating the buoyancy GUI changing the fluid part by the structural one.

[2019-10-30 12:13] rubenzorrilla commented on #665
Makes sense for me as well. Where will this preference be placed?

[2019-10-31 19:03] jginternational commented on #665
@rubenzorrilla

Check explanation in #667

[2019-11-04 16:31] Gaoliu19910601 commented on #649
@bodhinandach
Hi, It seems the Release version does not have the above errors.
In another,  I do not quite understand "you can do it by prescribing velocity to particles for moving boundaries. But you need to write it in specific derived functions from particle_mechanics_analysis.py ", could you explain it more detail. And Could we set the contact property (I need a Coulomb contact)?
Thanks a lot.

[2019-11-06 16:45] jginternational commented on #662
ping @GuillermoCasas

[2019-11-06 16:56] #665 closed

[2019-11-06 17:12] maceligueta commented on #662
I think it should say:
`import KratosMultiphysics.SwimmingDEMApplication.swimming_DEM_PFEM_algorithm as swimming_DEM_PFEM_algorithm`
However, maybe the algorithm is obsolete and we should be calling the analysis, like it is done in https://github.com/KratosMultiphysics/Kratos/blob/44c189b910a219f715b37b5e0aa5beb183de4642/applications/SwimmingDEMApplication/python_scripts/KratosSwimmingDEMPFEMAnaly

[2019-11-06 17:12] maceligueta commented on #662
I guess @ipouplana and @jgonzalezusua will know this better.

[2019-11-06 17:15] ipouplana commented on #662
Hi @jginternational , if you tried to run the pfem-dem examples (the ones inside Examples' repository) they are outdated right now... @jgonzalezusua and me will update the files there with the new input standard.
If you want to see a test that is currently running you can look at the test in [https://github.com/KratosMultiphysics/Kratos/tree/master/applications/SwimmingDEMApplication/tests/PFEM-DE

[2019-11-06 18:01] jginternational opened #668 "[DEM-Fluid] Example not running"
In order to implement #645 I was trying to run the example of the Swimming Dem application but I couldn't run it.
[examplefluiddem.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/3816031/examplefluiddem.gid.zip)

[code]

[2019-11-06 18:21] ipouplana commented on #662
Here I opened a branch with the example updated: [https://github.com/KratosMultiphysics/Examples/tree/sdem/update-pfemdem-example/swimming_dem/use_cases/PFEMFluid_Element/One_Way/Small_Box_Lagrangian_OW/source](url)
I am compiling Kratos, but once it finishes, I will run the example to see if everything works and, if so, I will merge the branch into master

[2019-11-07 08:53] farrufat-cimne commented on #668
I think the error is related to this:

Begin Properties 1
    DEM_DISCONTINUUM_CONSTITUTIVE_LAW_NAME Newtonian3DLaw
    DEM_CONTINUUM_CONSTITUTIVE_LAW_NAME DEMContinuumConstitutiveLaw
End Properties

Begin Properties 2
    DEM_DISCONTINUUM_CONSTITUTIVE_LAW_NAME DEM_D_Hertz_viscous_Coulomb
    PARTICLE_DENSITY 2500.0
    YOUNG_MODULUS 1000000.0
    POISSON_RATIO 0.20
    FRICTION 1.0
    COEFFICIEN

[2019-11-07 09:45] jginternational commented on #668
I think I've got it.

Check this commit:
https://github.com/KratosMultiphysics/GiDInterface/commit/a4f6b6c34b3e98242eb6d1a6cbc7172d55756eb1

[2019-11-07 09:56] #668 closed

[2019-11-07 10:43] ipouplana commented on #662
@jginternational I just updated the PFEM-DEM example here [https://github.com/KratosMultiphysics/Examples/pull/56](url)

[2019-11-07 15:32] jginternational commented on #645
@ipouplana I'm trying to understand the example [Small Box](https://github.com/KratosMultiphysics/Examples/tree/master/swimming_dem/use_cases/PFEMFluid_Element/One_Way/Small_Box_Lagrangian_OW) and the first I see is that the json is difficult to be generated.

Look at
[FSI](https://github.com/KratosMultiphysics/Examples/tree/master/swimming_dem/use_cases/PFEMFluid_Element/One_Way/Small_Box_Lagrang

[2019-11-07 15:33] jginternational commented on #662
Answered in #645

[2019-11-07 17:12] ipouplana commented on #645
Hi @jginternational , I know that the ProjectParameters.json structure is not canonical, but it should follow the same concept as in the Fluid-DEM GUI (eulerian fluid-DEM) that Guillermo Casas, Ferran, you and me designed some months ago here [FluidDEM](https://github.com/KratosMultiphysics/GiDInterface/tree/master/kratos.gid/apps/FluidDEM)

[2019-11-07 17:46] jginternational opened #669 "[PFEM Fluid] output not working [Windows]"
The same case in **Linux** result files are about 46kB:
![image](https://user-images.githubusercontent.com/5918085/68413591-d5130a00-018e-11ea-8ca4-8aab50d37ab2.png)

And in **Windows** are empty:
![image](https://user-images.githubusercontent.com/5918085/68413644-e78d4380-018e-11ea-8308-05062672fab5.png)

[2019-11-07 18:18] #669 closed

[2019-11-08 14:33] Ali-RAFIEE opened #670 "Kratos DEM application"
Hi every one,
as a new user of Kratos, I search a simple user manual doc for starting to analysis the models for rock slope stability.
in fact, I look for a method for doing my models by python code, and run them by Kratos.
is there a way to do this via Gid, or not?
and how can find explanatory documents about how using Kratos via Gid.

Thanks a lot
Ali

[2019-11-11 09:35] farrufat-cimne commented on #670
Hi @ali145 ,
Several tutorials can be found in:
http://kratos-wiki.cimne.upc.edu/index.php/DEMPack_Tutorials
and you can use the CohesiveDem module in GID (https://github.com/KratosMultiphysics/GiDInterface) or the GranularDem one if you do not actually require bonded particles.
Although the current interface is a bit newer, it is similar to the one defined in the tutorials.

[2019-11-12 07:52] ali145 commented on #670
Thanks Ferran for your reply,
is there a direct method for modeling with Kratos without using GID interface?
just by coding in python, and possibility to giving the input data without GID, and obtaining results in formats readable by software such Paraview?

I will be very grateful if you can share an example with direct method.

Thank you again
Ali

[2019-11-12 09:21] farrufat-cimne commented on #670
As far as the input files follows the Kratos standards, there should be no problem. Our custom interface is convenient to write the required data files with minimum effort, but of course you can use any custom generated input file (geometrical data, properties, etc) that adjust to Kratos.

Furthermore, if you are familiar with python and the Kratos code you could even code directly all (or almost

[2019-11-12 09:36] ali145 commented on #670
That's good, Thanks a lot Ferran.
How can I find a simple example in python for Kratos, as I said I'm new user of Kratos, and as I saw Gid is not free software, I want use Kratos directly by python codes.

Best regards
Ali

[2019-11-12 10:34] jginternational commented on #670
@ali145 you can use GiD for free if your mesh is less than 10.000 nodes

[2019-11-12 10:42] ali145 commented on #670
I know that I will exceed 10k nodes, so starting with free way is more better I think, of course if I can do something.
Thanks Javi.

[2019-11-12 11:31] farrufat-cimne commented on #670
For an insight of how to do it directly in python without using input files you can check:
"applications/DEMApplication/python_scripts/time_step_testing_stage.py"
It is a simple example but you will get the idea. If your model is complex I wouldn't recommend this method.

[2019-11-12 12:49] ali145 commented on #670
I try the proposed example but I received this error message:
in fact, how can import "KratosMultiphysics.DEMApplication"?
I use Ubuntu 16.04.
thanks
Ali

=====================================================
python3 time_step_testing_stage.py
 |  /           |
 ' /   __| _` | __|  _ \   __|
 . \  |   (   | |   (   |\__ \
_|\_\_|  \__,_|\__|\___/ ____/
           Multi-Physics 7.0.0-b4d81f1-Releas

[2019-11-12 13:58] jginternational commented on #670
@ali145

Make sure that your cmake_build/configure.bat file has activated the line to compile the DEM module:
`-DDEM_APPLICATION=ON `

[2019-11-14 16:16] ali145 commented on #670
Thanks Javi and Ferran,
it's OK now, and I can run this example.

but in fact I search an explanatory example in which I can have the input geometry for example via stl format files or similar way, and I can adjust other parameters including material characteristics, contact conditions, boundary conditions, and output result file format (vtk) with python code.

and for that I have not found an exa

[2019-11-26 15:46] maceligueta opened #677 "[dem] Custom submodelpart not printing anything"
I just created an example with the standard DEM and tried to create a custom submodelpart with with one sphere, destination DEM mdpa. Nothing was printed there.
@farrufat-cimne
Referencing also @jginternational in case you have time to look at it, too.

[2019-11-27 10:12] rubenzorrilla opened #679 "[Fluid] Add CFL output"
This issue is a reminder to add the new CFL output capability in a similar manner we did for the drag one.

The plan is to do this after the upcoming release.

[2019-11-27 11:05] jginternational commented on #679
Have you got a definition of the desired gui and the desired json?

[2019-11-27 13:21] rubenzorrilla commented on #679
Yes. We've just merged it. I will show you after the release :wink: .

[2019-12-03 13:41] KlausBSautter opened #683 "DEM wall for linear line elements"
Hi, I think I was using an old version of the Interface for the DEM App. Anyway here is my problem:

With the version, I was using I could create a DEM-FEM wall condition for a group with line elements and it created

 with the current interface, it creates

automatically. How can I change this behavior?

Klaus

[2019-12-03 14:32] maceligueta commented on #683
Hi @KlausBSautter. Thanks for reporting. Just one question (due to my bad memory): in the old GUI, in 3D we allowed Line elements and they were called RigidFace3D2N?
This is just to state clearly what we want from the new GUI.
Right now @farrufat-cimne and myself are changing parts of the GUI, but the real expert is @jginternational , so I will keep him in the loop, understanding that this issue i

[2019-12-03 14:37] KlausBSautter commented on #683
@maceligueta yes I need the line elements as contact conditions for the protection nets. In the GUI you didn't need to specify the element, you just assigned a group to the dem-fem wall condition and if it contained only lines it created RigidFace3D2N.

[2019-12-03 16:20] jginternational commented on #683
Hi @KlausBSautter

Correct me if I'm wrong.
You are using DEM application in 3D and you want to apply the DEM-FEM-WALL condition to a group containing lines, right?

[2019-12-03 16:31] KlausBSautter commented on #683
yes, exactly. Somehow this was working before

[2019-12-12 16:46] maceligueta opened #688 "[dem] Remove code duplication between DEM and CDEM"
@farrufat-cimne , can you take care of this? It is not necessary to duplicate so much code.
For example, writeMDPA_Walls.tcl are very similar in both apps, can we join as much as possible? I am fixing bugs and I found it dangerous to have the same code in two different places.

[2019-12-18 10:28] maceligueta opened #690 "[dem] Dem Parts in 2D allow assigning to Volumes, when they should not"
This is general, but should be different in 2D/3D
https://github.com/KratosMultiphysics/GiDInterface/blob/a1d5208333049fdacb6369f6e1bcb3885ff5cb76/kratos.gid/apps/DEM/xml/Parts.spd#L3

[2019-12-18 10:31] maceligueta opened #691 "[dem] DEM condition DEM-FEM-Walls in 2D shows bad Inertia"
Only one inertia is needed. (Though 3 values must be printed: [0.0, 0.0, value] )

[2019-12-18 10:32] maceligueta opened #692 "[dem] CDEM 2D condition DEM-FEM-Wall shows three values for all vector fields"
The DEM 2D version is doing this more or less right, but CDEM is not aware of the change in dimensions.

[2019-12-18 10:47] maceligueta opened #693 "[swimming-dem-pfem] The time settings are not written correctly"
The format for ProjectParameters.json changed completely and should follow the example:

https://github.com/KratosMultiphysics/Kratos/blob/master/applications/SwimmingDEMApplication/tests/PFEM-DEM_tests/ProjectParameters.json

Apparently is was fixed for Fluid-DEM, because that application is not complaining. We could copy the ideas for the implementation from there.

[2019-12-18 11:26] farrufat-cimne commented on #692
I just created CDEM 2D example with wall condition and only 2 components in vector fields are shown.
Also tested in standard DEM 2D

[2019-12-18 14:55] maceligueta commented on #692
True, I must have made a mistake beforehand.

[2019-12-18 14:55] #692 closed

[2019-12-18 15:04] #688 closed

[2019-12-18 16:55] jginternational commented on #690
You'll need something like this:
[code]

and, in the procs.spd file, implement the function that returns "point,line,surface" in 2d and "point,line,surface,volume" in 3D

[2019-12-18 17:45] maceligueta commented on #690
thanks! It is working. Will start a new PR for it.

[2019-12-18 17:47] jginternational commented on #690
If you want it to be included in the release, be fast. In 1 hour it'll be out of the oven!

[2019-12-18 17:50] maceligueta commented on #690
Well, several other bugs will be packed then. We spent the day reporting bugs related to DEM

[2019-12-18 17:56] #690 closed

[2019-12-18 18:52] jginternational commented on #691
This can be a little bit tricky. Maybe we need to change something in the _common part_

[2019-12-18 18:53] jginternational commented on #683
Is this done?

[2019-12-19 08:59] KlausBSautter commented on #683
yes, I guess. It works now. Thanks!

[2019-12-19 08:59] #683 closed

[2019-12-20 09:30] farrufat-cimne opened #695 "[DEM] Unified criteria for friction value passing to tcl. (rad, degrees or tan(angle))."
As previously stated, there is a not a unique criteria when sending friction information to tcl since some tree nodes send it as radians (dem material) while others send it as degrees (wall friction).

[2019-12-23 16:14] #691 closed

[2019-12-23 16:31] jginternational commented on #677
It is commented here:

https://github.com/KratosMultiphysics/GiDInterface/blob/afe26b84e089b90f770e2e71185eb9e597e431e7/kratos.gid/apps/DEM/write/writeMDPA_Parts.tcl#L33

[2019-12-24 12:31] jginternational commented on #661
Released 7.1.3-RC
https://github.com/KratosMultiphysics/GiDInterface/releases/tag/Release-7.1.3-RC

@KratosMultiphysics/all

:) Bon Nadal!

[2020-01-20 14:20] farrufat-cimne opened #699 "[DEM] Assigning conditions to DEM. Possibility to assign them in Mesh Mode"
Should the user be able to define conditions applied on DEM particles directly over the mesh?
Currently, the code is limited to applying it on geometry mode, as stated in:

[code]
Once this question is settled, if we decide to allow applying conditions over mesh, notice that in mesh mode one can apply conditions over 4 items: nodes, l elements, s elements and v elements.

[2020-01-20 14:35] farrufat-cimne opened #700 "[DEM] custom smp"
#697
Assigning a group  of particles (nodes) into custom-dem condition that are already defined as "Parts" is written as:

[code]

Is this the correct format required?
Does it require to rewrite the elements associated to the nodes in the submp?

When assigned to elements instead of nodes, it does not write anything on the mdpa:
[code]

[2020-01-20 14:35] farrufat-cimne commented on #700
@jginternational @maceligueta

[2020-01-20 15:41] mpentek opened #701 "[GiD model] Submodel part naming conflict"
When working with multiple geometry layers and groups for better handling of complex geometry, I have the following situation:
![image](https://user-images.githubusercontent.com/15231695/72739201-7e20ac80-3ba3-11ea-9aa0-6db71465b08c.png)
So I will end up with submodel parts when using Kratos with names such as:
`FluidModelPart.Drag_mq/1`
which is internally used for output (file) generation. I fin

[2020-01-20 16:43] farrufat-cimne commented on #699
@jginternational ,
swapping :
[code]

for:
[code]
with nodes instead of elements solve the problem.
we get the nodes instead, works both geometry mode and mesh mode.
Is it ok? It doesnt seem to cause any issue

[2020-01-21 11:44] farrufat-cimne opened #703 "[DEM] Bug in tree. Fields appear when they should not (and vice versa)"
ALL Options in DEM-FEM wall condition appear even if type of motion is set to None

[2020-01-21 17:30] rubenzorrilla commented on #701
Honestly, I have never used subgroups so far... In any case I agree that the slash is not the best character.

@jginternational can we control this?

[2020-01-21 19:28] jginternational commented on #701
From the 'kratos point of view' there are no groups, we'll have submodelparts

You are right -> The name of the submodelparts whose group is child is written like this:
"FluidModelPart.Outlet2D_Outlet/Child"
Maybe we can change it to this if we don't like the / as separator:
"FluidModelPart.Outlet2D_Outlet-Child"

Spaces are changed for underscores _
Child slashes could be replaced for regular sco

[2020-01-22 09:18] philbucher commented on #701
`"FluidModelPart.Outlet2D_Outlet-Child"` sounds good to me :+1: , it should work

[2020-01-22 16:01] jginternational opened #704 "Submodelpart names in PFEMFluid processes"
They use old format

[2020-01-22 16:29] rubenzorrilla commented on #701
Fine for me as well.

[2020-01-22 16:59] loumalouomega commented on #661
Why ContactStructuralMechanicsApplication is not ready?, i added for the release

[2020-01-22 17:02] roigcarlo commented on #661
I don't think this is up to date. PfemFluid for example should not be there

[2020-01-22 17:04] rubenzorrilla commented on #661
The ContactStructuralMechanicsApplication is included as part of the StructuralMechanicsApplication GUI, although there is no predefined example in the StructuralMechanicsApplication GUI testing the contact features...

[2020-01-22 17:34] jginternational commented on #661
@loumalouomega  -> As @rubenzorrilla said, Contact is used by Structural, it does not have an app in the GUI
@roigcarlo -> Now it's up to date

[2020-01-22 17:37] loumalouomega commented on #661
OK I tougth the list were the apps compiled

[2020-01-22 17:45] jginternational commented on #701
Nope @rubenzorrilla
A submodelpart is created in the join of a Condition (on the problemtype) with a group
example:
If I assign a group to an Inlet I'll have the submodelpart Inlet_group
If I assign a group to an Inlet twice (same group, different time intervals) I'll have only 1 submodelpart Inlet_group

If I assign a subgroup group//subgroup to an inlet, the submodelpart created is expected to b

[2020-01-22 18:30] jginternational opened #705 "Update installation video"
https://github.com/KratosMultiphysics/Kratos/wiki/Getting-Kratos-binaries-(via-GiD)

[2020-01-23 10:01] mpentek commented on #701
For me the main concern for now is the format, meaning avoiding separators which are generally used for folder path and so on. If this were to be changed from "/" to "-", would it cause problems with compatibility, tests and so on @jginternational? I think it would by anyway worth it in the long run.

The discussion of model/submodel/subsubmodel is perhaps another aspect. Here @rubenzorrilla and @

[2020-01-23 13:37] maceligueta opened #707 "[dem] The 'automatic' examples should ask first if you want to destroy existing entities or mesh"
Hi @farrufat-cimne , I think it would be great to have this feature. It is quite dangerous to click the icon accidentally and destroy all the changes you had made before saving the case.

[2020-01-23 14:06] farrufat-cimne commented on #707
I will add it to the DEM-examples branch

[2020-01-23 14:11] #707 closed

[2020-01-23 14:58] #677 closed

[2020-01-23 14:59] #573 closed

[2020-01-24 08:26] #704 closed

[2020-01-24 11:27] #703 closed

[2020-01-27 09:12] farrufat-cimne commented on #699
@jginternational

[2020-01-28 17:31] joaquinirazabal commented on #645
Hi! How is this issue, is the interface working? It would be useful for us in Madrid. Thanks!

[2020-01-28 20:13] maceligueta commented on #645
Looks like someone should take the lead of this and set up a meeting with @jginternational to actually implement it. I think that copying from Fluid-DEM should not be hard. I suggest @MZecchetto , as you are used to do it manually, Max, and you know better than anyone what the GUI should do.

[2020-01-31 11:49] jginternational opened #713 "PFEM Fluid improvements"
- Write materials json file
    - All properties -> 0
    - Loop Bodies

- Add "Thermally coupled" in Physics
  - Parts properties: (Add from ConvDiff)
    - CONDUCTIVITY
    - SPECIFIC HEAT
  - Boundary Conditions:
    - TEMPERATURE (ConvDiff)
  - Solver Settings: (ConvDiff) bring
    - Analysis type
    - Strategy parameters
    - Linear Solver

- Delete BC:
  - Displacement
  - Acceleration

@M

[2020-01-31 15:36] jginternational commented on #666
:(

[2020-01-31 15:46] jginternational commented on #713
[code]

[2020-02-10 17:00] maceligueta opened #715 "[dem] Cohesive 2D should now allow to assign DEM elements to volumes"
Volumes should not appear anywhere in 2D, actually...

[2020-02-19 10:56] maceligueta opened #719 "Some items of the tree appear when they should not, according to dependencies. It gets fixed when the user modifies parent."
Example:

- Load DEM GUI (Normal DEM, 3D)
- Create an inlet condition
- Switch the Element Type to Cluster
- Observe that OrientationX appears, when it should not because Random Orientation is set to Yes
- If you switch Random Orientation to false and back to true, it gets fixed

[2020-02-20 14:10] jginternational opened #721 "Convection diffussion example not working"
2D Convection diffussion example is not working. Check output
3D example does not exist

[2020-02-20 14:58] maceligueta commented on #719
Solved in #720. Thanks @jginternational !

[2020-02-20 14:58] #719 closed

[2020-02-20 15:05] maceligueta commented on #715
I fixed the bug described in the title.

[2020-02-20 15:05] #715 closed

[2020-02-21 17:04] jginternational opened #723 "Change output frequency to output interval"
Implemented in
KratosMultiphysics/Kratos/pull/6447

Defined in
KratosMultiphysics/Kratos/issues/3914

[2020-02-24 12:48] KlausBSautter opened #724 "[DEM] Quad mesh"
Hi, I am using the latest master branch of this interface and cannot assign quad meshes to DEM-FEM walls anymore.

`asd assigned to DEM-FEM-Wall - Selected invalid entity surface with 4 nodes - Check Conditions.xml
`

that is the error msg I get when I want to run the problem. Maybe I am doing sth. wrong but I dont think so.
[casd.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/4

[2020-02-24 14:35] maceligueta commented on #724
Hi @KlausBSautter . The 4-noded walls are not supported, actually, by the DEM Team. As far as I know, they used to work for limited simple cases, but clearly they are incompatible with certain features, and they have always been.
This does not mean that a developer can’t use it. But it’s better not to add them to the GUI if they do not work in general.
If they are a priority we can start making th

[2020-02-24 14:55] KlausBSautter commented on #724
@maceligueta thanks for the answer! Makes sense, I'll use triangles

[2020-02-24 14:55] #724 closed

[2020-02-26 13:33] rubenzorrilla commented on #721
After some investigation, it turns out that the `"problem_domain_sub_model_part_list"` in the `solver_settings` is empty. For this specific example it should be `"problem_domain_sub_model_part_list" : ["Parts_Body"]`.

[2020-02-27 15:54] #721 closed

[2020-03-03 08:17] MZecchetto commented on #713
Hi @jginternational , I add another point in the PFEM Fluid improvements: constitutive laws. The following options should be available in the GiD interface:

For fluids:
- Newtonian2DLaw (3D);
- Bingham2DLaw (3D);
- PapanastasiouMuIRheology2DLaw (3D).

For solids:
- Hypoelastic2DLaw (3D).

For thermally coupled problems the following should be added:
- NewtonianTemperatureDependent2DLaw (3D);
- Bi

[2020-03-03 11:36] jginternational commented on #713
I've created this branch for this issue.
Please edit the file `kratos.gid\apps\PfemFluid\xml\ConstitutiveLaws.xml` to add new constitutive laws to the Fluid Pfem Application

[2020-03-04 10:02] MZecchetto commented on #713
Done. I set  `pn="XXX"` different for 2D and 3D laws. Or do you prefer the same as for FluidApp?

[2020-03-27 19:11] jginternational commented on #701
@mpentek I'm merging that branch soon if there are no problems!

[2020-04-06 19:34] MZecchetto commented on #713
Hi @jginternational, any update on this?
it would be great to have the constitutive laws in the pfem fluid (at least for the non-thermally coupled analysis) in order to merge https://github.com/KratosMultiphysics/Kratos/pull/6504, https://github.com/KratosMultiphysics/Kratos/pull/6511 and other upcoming changes that require the constitutive laws.

[2020-04-27 14:53] AFranci commented on #713
Hi @jginternational we would need to go ahead with this otherwise we cannot merge the development in kratos. Can you please take a look at it?
Thank you in advance!

[2020-05-11 13:36] frawahl opened #741 "Generate Mesh after problem type selection (GiD 14.1.8d)"
Error message appears instead of mesh when problem type already was selected:
"No Mesh generated. No geometry present, not correct entities or no entity selected to be meshed"

I recreated the problem by: opening GiD, creating Geometry > Object > Rectangle, selecting a problem type (kratos Structural 3D), hitting Ctl+G.
The same problem appears when the rectangle is created after selecting the pro

[2020-05-11 13:53] frawahl commented on #741
Also, there seems to be no going back. Once problem type kratos was selected for the geometry, it won't mesh even after switching to another problem type or unloading the problem type.
Switching/ unloading the problem type, deleting the old geometry, creating a completely new one and meshing does work.

[2020-05-12 09:18] rubenzorrilla commented on #741
I guess that the problem is that you haven't created and assigned any group entity to the `Parts` section of the tree.

The problem type only meshes those entities assigned to groups.

[2020-05-14 13:59] frawahl commented on #741
Yes, assigning group entities was the solution. The error message also makes sense to me now. Thanks!

[2020-05-14 13:59] #741 closed

[2020-05-21 11:45] jgonzalezusua opened #742 "[DEM] Wrong condition for phantom faces"
Hi everyone,

I have a problem with the condition type of the phantom faces. The condition should be AnalyticRigidFace3D3N if its property IS_GHOST is set to True but GiD writes in the .mdpa the type RigidFace3D3N. This leads to a bad_cast error when I run the geometry. Could you fix it?

Thanks in advance,

Joaquín González

[2020-05-21 15:37] #89 closed

[2020-05-21 15:37] #262 closed

[2020-05-21 15:38] #155 closed

[2020-05-21 15:38] jginternational commented on #356
DONE

[2020-05-21 15:38] #356 closed

[2020-05-21 15:39] #341 closed

[2020-06-04 06:45] AFranci commented on #713
Hi @jginternational
Is there any advancement in this issue?

[2020-07-13 15:50] #742 closed

[2020-07-13 15:50] jgonzalezusua commented on #742
It is solved

[2020-07-21 23:52] ipouplana opened #750 "[DEM] External applied force cannot be used from the GUI"

[2020-07-22 09:10] maceligueta commented on #750
Right @ipouplana . Thanks for pointing out. It could be added and call a process. We can use the same technology as in other apps, allowing a constant value or a function.
Let's use this issue as a reminder.

[2020-07-22 10:22] philbucher commented on #723
the PR on the Kratos side is merged, I think we can proceed here

[2020-08-10 08:42] rubenzorrilla opened #751 "[PotentialFlow] Predefined example not working"
The predefined example in the potential flow GUI is not working.

[2020-08-20 08:37] #751 closed

[2020-09-02 07:57] KlausBSautter opened #753 "[Structural] Self-weight"
Hi, I cannot apply self-weight anymore using the GID Interface. I tried it on the PCs of my peers and get the same error an all machines. I do not think I did sth. wrong as the process is straightforward. Nevertheless, I added the problem (really simple):

[test_membrane.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/5160832/test_membrane.gid.zip)

With a self-weight condition I

[2020-09-02 08:19] KlausBSautter commented on #753
It works in the latest release 7.1.5, but apparently not in the latest devel. version

[2020-09-02 09:51] jginternational commented on #753
I'll take a look. I also broke something in the VTK json yesterday

[2020-09-02 14:05] #723 closed

[2020-09-08 11:11] maceligueta opened #755 "[dem] Allow/Disallow element type of a dem groupd has changed after saving and loading a case"
Process to reproduce bug:

- Load Gid 15 and the Kratos Gid Interface
- Choose DEM Cohesive, 3D
- Generate a volume and assign it to DEM parts
- Mesh
- Check that both the spheres and the nodes belong to the group (Yes). Check that all element types are allowed (Yes)
- Save the case
- Close GiD
- Open the case
- Check that the spheres are no longer in the group. Check that now only some element ty

[2020-09-10 09:26] #755 closed

[2020-09-10 09:26] #753 closed

[2020-09-29 15:18] jginternational opened #759 "DEM 2D example is broken"
Kratos -> DEM -> 2D -> Circles drop example

Error thrown:

[code]

[dem_2d_example.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/5300093/dem_2d_example.gid.zip)

[2020-10-04 16:31] Mariveros opened #761 "GiD, PFEM postprocess crashes"
Hello, I'm working with the PFEM module for tailing modeling using a basic model as follow:
- a "box" of fluid, with its properties using bingham material (aprox)
- and a frame for the run-out of fluid
Dimensions aprox. (height_total = 75m (frame), fluid_height = 15m , length_total = 450m , fluid_length = 50m)

when I run some example with a mesh size of 1,075,05,04 m everything works well even if

[2020-10-04 22:15] Mariveros commented on #761
update comment-----

I trying to figure out about this problem and I found that is related to my "process capacity (Hardware)" or maybe the settings by itself.

I use the post-process option and open a few files (.bin) of post-process and it was opened well. So the problem as I said would be the settings or processing capacity if someone can give me some advice or suggestions about it.

[2020-10-05 07:38] jginternational commented on #761
Hi @Mariveros ,

Could you attach here a zip with the example you are using?

[2020-10-05 08:05] jginternational commented on #759
It works with RBall circle mesher. Waiting for GiD version that fixes the Granular mesher for circles when more than 1 surface is meshed. GID-2197

[2020-10-05 15:42] maceligueta commented on #759
@farrufat-cimne any news on this?

[2020-10-06 01:05] Mariveros commented on #761
Hi, are you talking about post-process info generated by GiD ( the number of files and mesh)? , I'll try to attach the file here, it had some weight.

I'll update you here. thanks

[2020-10-06 09:32] jginternational commented on #761
Hi, the folder called 'name.gid'. If you can compress it and send it through here, or via weetransfer

[2020-10-06 10:50] jginternational commented on #759
It's at @escolano 's rooftop

[2020-10-06 19:07] Mariveros commented on #761
I had to separate the .gid folder due to its size ( +2gb) I create 2 .zip files with the content of .gid folder p1 and p2 here is the content.
[part1](https://we.tl/t-7fzwm17mAA)
[part2](https://we.tl/t-IcQ4drdNqg)

[2020-10-07 16:01] jginternational commented on #761
Hi @Mariveros

I've tested it in my Windows with 24 GB of RAM and worked fine, GiD and the model are OK.
So why are you experiencing this issue? I've created a virtual machine with 16GB of RAM and this is what I see when changing to post process:
![image](https://user-images.githubusercontent.com/5918085/95354247-7ab18a80-08c4-11eb-821e-784b1291107d.png)

As you can see, when result files are bein

[2020-10-08 16:42] Mariveros commented on #761
Ok, I'll try it and give you some feedback about it.

Thank you!

[2020-10-11 03:21] Mariveros commented on #761
The solution works.

Problem: Run out  Memory.
The solution posted above.

Thank you!

[2020-10-11 03:21] #761 closed

[2020-10-18 15:53] GuillermoCasas opened #763 "Bug in FluidDEM interface"
**Description**
When going through the problemtype tree, an error pops up when I try to select a part for the DEM elements.

**Scope**
Where in GiDInterface is this bug happening
- In the FluidDEM sub-interface of the DEM one.

**To Reproduce**
Simply double-click the 'Define particle groups' entry in the DEM tree before doing anything else:

Expected behavior**
No error message should appear. Als

[2020-10-19 08:35] jgonzalezusua commented on #763
It is fixed in branch _update-fluiddem-interface_, I will see if I can solve it in master

[2020-10-19 08:55] GuillermoCasas commented on #763
Ok, please do a PR of that branch, since the master one is useless

[2020-10-19 09:06] jgonzalezusua commented on #763
Ok, the PR is already done #764

[2020-10-19 18:51] jgonzalezusua commented on #763
I will close this issue since it is solved after the PR

[2020-10-19 18:51] #763 closed

[2020-10-26 11:14] SamiBidier opened #765 "[FSI] SingleMass on Point/Node"
Hello,
I was wondering if there is a possibility to apply a single mass on a point/node in analogy to the point load functionality?
Thanks in advance,
Sami

[2020-10-26 15:30] rubenzorrilla commented on #765
Hi @SamiBidier !

The mass element is not exported to the GUI yet (@KratosMultiphysics/structural-mechanics). In any case there is an ongoing discussion (see #7629) about the addition of the nodal spring element to the GiD GUI. From the GUI perspective, the mass element should be exactly the same. Hopefully, it will be available soon.

In any case you can modify your structure .mdpa manually to ad

[2020-10-26 19:58] SamiBidier commented on #765
Hi @rubenzorrilla ,
thanks again for the help.
Sami

[2020-10-26 19:58] #765 closed

[2020-10-29 14:53] rubenzorrilla opened #766 "[All] Update Kratos version in the internet retrieve"
The one we have right now is way old. We should upload a new one.

[2020-10-31 18:59] jginternational commented on #766
I've been testing the current Gui and the last release of the compiled repo (https://github.com/KratosMultiphysics/Kratos/releases/tag/v8.0.1) and they are not fully compatible. I'll need to make a great effort to move some gui code back in time to match that version, and that's a job I'll hate to do

@roigcarlo As Gui and the current master branch are more or less up to date (The things in the Gu

[2020-10-31 19:01] roigcarlo commented on #766
I will have to make a release by the end of november no matter what, so we can schedule the releases for the week of the 23 if its ok.

[2020-11-01 20:09] rubenzorrilla commented on #766
I don't think there is a problem in doing it by the 23th of November.

[2020-11-04 10:01] #759 closed

[2020-11-04 11:17] escolano commented on #759
It has been fixed in GiD, but won't be publicly available until a new GiD 15.0x official or 15.1.xd developer is released

[2020-11-05 15:47] SADPR opened #768 "Getting a surface model part on the .mdpa file."
I am using the GiD interface (Kratos problem type) to create the .json and .mdpa files from a structural 3D model.
My model is made up of a solid model part (with assigned material) and two surface model parts. I would like to know if there is a way to generate the .mdpa file with the information from my two surface model parts without applying a boundary condition.

[2020-11-09 14:53] jginternational commented on #768
Hi Sebastian,

You can write the information of geometries with no conditions on them.
Open the Kratos preferences (Up menu > Kratos > Preferences) and set Mode: Developer

You'll see this icon on the tree:
![image](https://user-images.githubusercontent.com/5918085/98556688-9af9ae00-22a3-11eb-8251-1941307510b9.png)
 you can apply that to your surfaces and select what do you want to print on them,

[2020-11-13 09:54] jgonzalezusua opened #770 "Problem with FEMtoDEM mesher"
The mesher does not work properly if you assign an element size to the volume in which the mesher has to transform the nodes of the FEM fashion in DEM.

I have a case which consists in a cylinder with a sphere inside. This sphere represents a bunch of DEM particles. The problem is that even if I reduce the element size assigned to the sphere, I obtain always the same quantity of particles. It seem

[2020-11-13 10:58] maceligueta commented on #770
Thanks for reporting, @jgonzalezusua . We will take care of this.

[2020-11-13 13:12] jginternational commented on #770
Hi @jgonzalezusua and @maceligueta
This is the current behaviour: I've created the figure described.
Parameters:
- GiD mesh size: size of the mesh elements of the geometrical sphere. Assigned via GiD mesh menu
- FEMtoDEM diameter: Assigned in the tree, defines the size of the mesh spheres

GiD mesh size: 1.0
FEMtoDEM diameter: 0.3
![m1-sphm-03](https://user-images.githubusercontent.com/5918085/990

[2020-11-13 13:18] maceligueta commented on #770
Exactly, the separation between particles is governed by the GiD mesh size, not the size in the tree.

[2020-11-13 14:17] jgonzalezusua commented on #770
I already fix the size in the tree, no issues with that. The problem is when I assign an element size to the volume I want to transform.

If I assign, for example, an element size h=0.003 to the volume (which is a sphere), I obtain, we say, 200 particles and this number keep constant even if I reduce h to 0.001. But if I reduce the element size for the entire model, GiD provides me more particles,

[2020-11-13 15:00] maceligueta commented on #770
If you try these different mesh sizes of a sphere, but that sphere is not set as DEM in the tree, it should be meshed as tetrahedra. Does it happen the same way then? You should have the same problem, as from the ProblemType we are only converting nodes of a FEM mesh into spheres...

[2020-11-13 15:30] jgonzalezusua commented on #770
Thanks @maceligueta, it is solved.

[2020-11-13 15:30] #770 closed

[2020-11-19 20:55] rubenzorrilla commented on #661
@jginternational should we reuse this for the 8.1?

[2020-11-19 21:00] rubenzorrilla opened #773 "New GUIs (after 8.1)"
This is just a reminder of the new developments that we need to add to the GUI after the 8,1 release

- [ ] Explicit convection-diffusion elements

- [ ] Semi-implicit convection-diffusion solver

- [ ] Compressible fluid interface

[2020-11-19 21:29] jginternational commented on #661
Of course!
I'll update it soon

[2020-11-20 13:00] jginternational opened #774 "Conjugate heat transfer Example 2D fails"
The 2D Conjugate Heat Transfer example Heated square fails at ->
[code]

[CHT example.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/5573598/CHT.example.gid.zip)

[2020-11-20 13:11] jginternational opened #775 "Buoyancy test is not running"
Buoyancy test Heated Square 2D is not calculating.
The calc ends with no results

[2020-11-20 15:24] jginternational commented on #775
Changing the fluid element to  Dynamic VMS everything runs.
So problem seem to appear with Quasi static VMS

[2020-11-21 17:14] rubenzorrilla commented on #775
There is a memory leak because there are no `constitutive_law` defined in the `FluidMaterials.json`. This doesn't happen in the standard fluid interface.

Concerning your observation about the dynamic VMS, the point is that switching to the Dynamic VMS doesn't write the `formulation` field. Same happens with the FIC element. Hence it's taking the default in the Kratos solver, which doesn't require

[2020-11-21 17:16] rubenzorrilla commented on #774
This says that there is a condition with no parent, which means that we have hanging lines with no surface entity associated to them.

[2020-11-21 17:39] rubenzorrilla opened #776 "Writing error with MPI parallel type"
When selecting MPI parallel type a writing error pops up. This happened to me in the FSI application.

[2020-11-21 17:44] jginternational commented on #776
This is what I see when changing to MPI, and calculate
![image](https://user-images.githubusercontent.com/5918085/99883713-83b6ab00-2c29-11eb-916a-1af1f1606a82.png)

[2020-11-21 17:57] jginternational commented on #774
Ok, I've detected the problem. It's geometrically broken. Groups have the wrong lines.

[2020-11-21 18:31] rubenzorrilla commented on #776
:confused:

[2020-11-21 21:57] #774 closed

[2020-11-22 09:06] #775 closed

[2020-11-23 08:25] rubenzorrilla commented on #776
It is not happening in my desktop machine with the current `master` version. I'll try again in the laptop to see if it appears again...

[2020-11-24 08:32] mpentek commented on #701
Re-opening this issue, as with the most current setup (Win10 + GiD15.0.1 + Kratos GiD problemtype - from here) I have the same ongoing issue: the naming will be with "/" or "//".

Am I missing something? I had the impression this was changed.

[2020-11-24 10:13] mpentek opened #779 "Separator for subgroups "/" -> "-""
An earlier Issue here: #701

With the solution here: #729

Not deployed/merged.

Probably not making the most recent release, or will it?

[2020-11-24 13:14] rubenzorrilla commented on #776
I tried in another machine and everything was fine. Closing. Sorry for the noise.

[2020-11-24 13:18] rubenzorrilla commented on #776
[code]
I closed it too fast...

[2020-11-24 13:19] rubenzorrilla commented on #776
This is when setting the 2D Mok example in MPI.

[2020-11-24 13:50] rubenzorrilla commented on #776
Same case but switching the parallel type to OpenMP has no problems.

[2020-11-24 20:19] jginternational commented on #776
Ok, I found the problem
https://github.com/KratosMultiphysics/GiDInterface/blob/master/kratos.gid/apps/Structural/xml/Solvers.xml

There is no eigen_solver for MPI.
It may seem strange, due to you are not using that eigen thing at all, but it is important to set some tree parameters to hidden/shown

[2020-11-24 23:29] #779 closed

[2020-11-25 08:20] philbucher commented on #701
@jginternational can you please comment if this is solved?
This breaks many outputs in Kratos!

[2020-11-25 08:37] jginternational commented on #701
sorry. The requested changes have been pushed to master after checking all the tests.

I though I wrote this yesterday, but it seem that I forgot to click on the green button :(

[2020-11-25 09:02] philbucher commented on #701
coolt thx!

[2020-12-03 13:14] jginternational opened #783 "Swimming dem example error"
hi DEM swimmers !

Please check the branch release/Release-8.1
In the example ->
![image](https://user-images.githubusercontent.com/5918085/101022309-842c3b80-3571-11eb-944f-6a5fc559b86b.png)

I'm getting this error->
[code]

I attach here the example

[demfluid.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/5636261/demfluid.gid.zip)

Please help me so I can include this app in

[2020-12-03 15:48] jgonzalezusua commented on #783
Hi @jginternational, in Kratos master branch I did not have this problem. Could you merge the master to this branch? Anyway I will run the case in this branch to see if there is any error.

[2020-12-09 14:34] jginternational opened #785 "[DAM] Normal Load is broken"
I've disabled Normal Load (LinePressure2D and SurfacePressure3D) since it's process is implemented in Solid application.
Maybe you need to change it's process to ApplyLoadVectorDamTableProcess or another.

Please @KratosMultiphysics/dam
Check it! 5d9f96c4b35e15fbe56f5ab87805715093acb4e2

[2020-12-09 14:43] joaquinirazabal commented on #785
Thanks for pointing it out @jginternational. I think that we are not using these processes anymore, am I right @djvicente? @jginternational, If @djvicente confirms it you can remove those conditions from the interface.

[2020-12-09 18:02] djvicente commented on #785
Thanks, @jginternational. As @joaquinirazabal says, we no longer use these processes as they are rarely applied in real practice. Perhaps in the future, we will be able to recover them for academic purposes, but at the moment they may be disabled.
Thank you!

[2020-12-09 21:02] #785 closed

[2021-01-12 10:44] e-dub opened #792 "Export model files in MPa unit system"
I generally use the SI-derived engineering MPa unit system, i.e. millimeter, tonne, second, newton, megapascal, etc. In the past I have used a workaround, which requires changing the material files after writing the Kratos model files. This is a bit of pain, especially for my students who are beginning with GiD-Kratos.

Is it possible to do this in a more "native" way?  I have found the file
.../G

[2021-01-12 12:05] jginternational commented on #792
Hi @e-dub .

Kratos define the unit system that it's going to be written in it's spd / xml files, and allows the user to use another unit system in the interface.
For example, in this structural app 2D example, the units for the module of the line load by default are N/m, so this is what is expected to be written in the json file.

The default units are defined in the condition:
![image](https://u

[2021-01-12 15:51] e-dub commented on #792
Many thanks @jginternational for the fast and detailed answer!

Summarized, I want to avoid the automatic translation to SI and keep the Kratos model in MPa units, i.e. nodes in mm.

If I understood this correctly, I would have to change all the XML files, e.g. in .../GiDInterface/kratos.gid/apps/Structural/xml/, to implement such a change.  Is there an easier way to avoid the automatic translatio

[2021-01-12 19:50] jginternational commented on #792
Take into account that a kratos model is "unitless". It just need to be coherent. In the user interface, we have them to help, but the input files are unitless.

I don't really understand what do you need.
Do you need that the default units in the interface are MPa instead on Pa, and mm instead of m?
Do you need to choose the 'units' written in the input files, so if the user says that a pressure

[2021-01-13 09:25] e-dub commented on #792
Wow that was quick! Respect!

For not understanding, you got it quite good :wink: !
I probably was not clear, sorry.  Summarized: Of course the solver is blind to units and the consistent unit system represents a simple scaling of the model.  Basically, I want to choose the consistent unit system that is written to the model. Currently, this is SI; I want to write everything in the MPa consistent

[2021-01-13 14:16] jginternational commented on #766
Done

[2021-01-13 14:16] #766 closed

[2021-01-13 14:16] jginternational commented on #768
Is this issue done @SADPR ?

[2021-01-13 14:28] SADPR commented on #768
Yes, I am sorry I forgot to respond and close it. Thanks a lot.

[2021-01-13 14:28] #768 closed

[2021-01-14 09:51] rubenzorrilla commented on #776
@jginternational which is the status of this?

[2021-01-14 09:59] jginternational commented on #776
Bug is still there. I don't know if it makes sense, but check the PR #793

[2021-01-14 10:54] rubenzorrilla commented on #776
Such eigensolver doesn't exist in MPI. Hence the fix wouldn't work...

[2021-01-15 10:55] e-dub commented on #792
I got a chance to look at this again today.  The MDPA "keeps" mm only if I change the mesh to m. E.g.: I set the mesh units to mm, build a structural model (a simple rectangle with 10x5), and write units set to mm, it still gives unfortunately me 0.01 in the MDPA file.

I could the Young's modulus is properly scaled with changing line 61 of [WriteMaterials.tcl](https://github.com/KratosMultiphysic

[2021-01-15 18:29] jginternational commented on #792
I need to think about it this weekend, but it's a pain and can bring future problems

[2021-01-15 20:15] e-dub commented on #792
Yeah, totally understand!  If it is still not clear, we can have a quick call early next week.  Thanks for your time, much appreciated!

[2021-01-25 15:53] rubenzorrilla opened #794 "[ConvDiff] Time order selection"
Time integration order is not exposed in transient convection diffusion simulations. This should be doable.

[2021-01-25 19:09] Mariveros opened #795 "stuck reading post-process"
Hi everyone,

I create a model on PFEM modulus inside GiD 14.1.10d on Linux (Ubuntu 20.), everything is ok until I try to read files created using the post-process tab. it reads all files but when it reaches 99% stuck at processing and cannot continue...

I create a similar model but just with 1 (s) of total time. and it can be read correctly.

It cannot be a problem of memory I suppose. I had ass

[2021-01-26 07:57] RiccardoRossi commented on #795
forwarding at @maceligueta @AFranci

[2021-01-26 10:08] maceligueta commented on #795
@RiccardoRossi and @rubenzorrilla : I am not a maintainer, nor a developer, of the PFEM in Kratos. @AFranci is managing it.

[2021-01-26 11:29] rubenzorrilla commented on #795
Sorry, I though you were still involved on it.

[2021-01-26 16:35] AFranci commented on #795
Hi Marcelo,

I tried to open the post-process results that you sent us and if you open all of them, as you said, the GiD seems to remain stuck. Nevertheless, after a while, he finished the process and I could regularly see the results.

This is because there are a lot of output files (5000).

If you open fewer output files you will have not to wait so long.

Note that you can also reduce the numbe

[2021-01-26 18:26] Mariveros commented on #795
Hi everyone,

Alessandro, thanks for your reply. As you said if the file opened after a while so it's due to the number of outputs created for such a problem. I'll try to reduce the number of outputs.

I'll review and if it works I'm going to repost and close this thread.

Regards,

Marcelo

[2021-01-26 22:19] jginternational commented on #795
@pasenau FYI

[2021-01-29 15:43] riccardotosi opened #796 "How to cite GiD?"
Good afternoon,

I would like to cite GiD in a work I am doing. Specifically, I am using GiD in combination with Kratos. I see that [in the GiD web page](https://www.gidhome.com/support/brand-resources/citing-gid/) there are four different citation possibilities, but none seem to refer to the software. They only refer to manuals.

Should I use all of them? Only one? A different one?

Thanks.

[2021-01-30 16:22] Mariveros commented on #795
after a while, the file was opened.

Thanks to everyone.

[2021-01-30 16:22] #795 closed

[2021-01-30 20:46] pasenau commented on #795
hi,
i tested your example and found the problem. GiD takes long time to gather the information from these files. This needs to be improved, but at the end ( around 40 minutes in debug mode) the results can be viewed. As said, i found the problem and i'm working on it.

[2021-01-31 03:01] Mariveros commented on #795
Hi @pasenau.

For your information, I tested a similar simulation a few months ago (same version of GiD 14.1.10d) version and this problem does not exist. If I take those models created before it opens (without modifying or update, the system suggests an update of archives) immediately after 100% is reached but for the newer the excessive time to process it appears.

info: different computers the

[2021-01-31 09:56] jginternational commented on #796
@escolano @pasenau

[2021-02-01 11:33] escolano commented on #796
Hi Riccardo,
thanks for your interest.
I think that you must cite only the ones you consider relevant for your work (e.g. the customization manual, and/or the reference manual, and for the GiD software itself can cite the webpage)

[2021-02-01 12:07] riccardotosi commented on #796
Thanks.

[2021-02-01 12:07] #796 closed

[2021-02-01 12:13] loumalouomega commented on #796
Just the following:

https://www.gidhome.com/support/brand-resources/citing-gid/

PS: I used this in my PhD

[2021-02-01 12:18] riccardotosi commented on #796
Thanks Vicente.

However, this link is what I posted in the question. My question was which of these 4 references should I use.

[2021-02-01 12:23] loumalouomega commented on #796
Sorry, particularly I referenced the reference manual.

[2021-02-09 17:55] #649 closed

[2021-02-09 17:56] jginternational commented on #649
I close this issue to clean up. If there are new questions please create a new issue ! Thanks!

[2021-02-09 17:56] #662 closed

[2021-02-09 18:00] jginternational commented on #670
I close this issue to clean up. If you still have questions to the DEM team, please create a new one and mention them! Thanks!

[2021-02-09 18:00] #670 closed

[2021-02-09 18:54] jginternational commented on #643
Hi Alejandro, I've tested your case (changing a bit the end_time and the pressure and I got this contact
![image](https://user-images.githubusercontent.com/5918085/107412999-87631b00-6b10-11eb-8f49-74c8fd2ec3de.png)

I don't know about that normal direction issue, but I think this is not the expected contact

[2021-02-09 18:55] #661 closed

[2021-02-09 18:56] jginternational commented on #773
#666

[2021-02-09 18:56] jginternational commented on #679
ping

[2021-02-10 07:51] AlejandroCornejo commented on #643
Hi @jginternational ! This example has already 2 years so maybe I have to check everything (who knows). What do you prefer? I try to generate a new one or updating this one?

[2021-02-10 11:12] jginternational commented on #643
I was planning to create 2 examples (2D and 3D) for the Structural mechanics application where we can see the contact working.
Maybe it's a good moment to close this issue and create those examples from an existing and working test

[2021-02-10 11:53] maceligueta commented on #783
The error 'vector too long' was encountered by @AlejandroCornejo long time ago.
If I remember correctly, it was due to 0 or negative radius in some particles. I hope he can comment on this.

[2021-02-10 14:21] AlejandroCornejo commented on #783
That's right. It happened to me a few years ago and it was due to a negative Radius.

[2021-02-10 15:16] jginternational commented on #783
It could be, but not in the mdpa. It could be on the spheres created by the inlet

[2021-03-02 11:14] #488 closed

[2021-03-03 14:10] mpentek commented on #679
The CFL is meanwhile dependent on the StatisticsApplication, so I am not sure if adding it is the best option or how to do it properly. It needs that App compiled and, in case of restart, the MainKratos needs to import it additionally.

[2021-03-08 04:57] rubenzorrilla commented on #679
About having the app, I think we could pack it in the GiD binaries. Is is not a large application and comes with some features that could be useful for postprocessing.

Concerning the import, we could modify the `MainKratos.py` to import the application if available. This would keep the current behavior (current GUI users with custom compilations wouldn't realize) but open the possibility of resta

[2021-03-28 07:33] ZhimingGuo opened #802 "Error when loading kratos.gid"
**It is error when I loading kratos.gid from GID14.1.9d.**
**Error (l693):** invalid command name "gid_groups_conds::close_all_windows"
STACK:
invalid command name "gid_groups_conds::close_all_windows"
    while executing
"gid_groups_conds::close_all_windows"
    (procedure "Kratos::DestroyWindows" line 2)
    invoked from within
"Kratos::DestroyWindows"
    (procedure "Kratos::Event_EndProblemtyp

[2021-03-28 07:54] jginternational commented on #802
Dear @ZhimingGuo
Thanks for reporting. A hotfix has been merged into the master branch in order to fix this bug.
Could you please try it?
Update your code to the master
[code]

[2021-03-29 06:32] ZhimingGuo commented on #802
It is good to work, thanks!

[2021-03-29 06:32] #802 closed

[2021-03-31 14:28] jginternational opened #803 "[Buoyancy] Linear solver duplicity in fluid part"
![image](https://user-images.githubusercontent.com/5918085/113160773-11408200-923e-11eb-95b9-2b5daeb3a6a0.png)

[2021-04-21 14:04] #803 closed

[2021-04-27 17:33] jginternational opened #806 "[DEM] Add material relations"
Material relations is defined as a list of properties and the join of 2 materials.

See branch /dem/material-relations -> DEM app -> xml/material_relations definition.

Missing:

- [ ] Interface CRUD relations
- [ ] Writing process prints in the required format with validation (Only print relations used in parts and conditions)
- [ ] Inherited apps can modify parameters
- [ ] Informative window sh

[2021-05-14 14:55] rubenzorrilla opened #808 "[FSI] Collection of errors"
Right now the `FSIApplication` is broken because two minor issues

- [x]  We should write the parent model parts in the submodelparts of the `coupling_settings` sections.
- [x]  After the changes in the string parsing of the processes, the Python one line if statements are no longer valid. For the moment, we need to use two processes with different intervals.

[2021-05-15 19:03] RiedlAndreas opened #809 "[Structural] LOCAL_AXIS for beam element are not updated"
**Problem**
I've a structural model with beam elements. I've to rotate the structural model with the GiD function Move -> Rotate . After that there was an error "LOCAL_AXIS_1 is not perpendicular to LOCAL_AXIS_2".

**Workaround**
In GiD -> Parts -> Beam deleting the assigned Group. And reassign the groups to beam element. A popup informs about updated LOCAL_AXIS. It works again.

**Question**
It s

[2021-05-17 12:55] mpentek commented on #809
The current workflow seems a bit counter-intuitive and error prone (once for example a rotation of a model is done).

[2021-05-18 12:57] jginternational commented on #806
Working on branch https://github.com/KratosMultiphysics/GiDInterface/pull/810

[2021-05-31 10:00] sunethwarna opened #811 "[Fluid/ConvDiff] Conjugate Heat Transfer Application"
Hi, I was checking one of the examples from Thermic [ ConjugateHeatTransfer/CylinderCooling2D ] and i found that if I change the mesh units to cm, it writes the fluid mdpa in cm, but the solid mdpa is in m which gives non-cnverging results. This is true for one of my cases as well. At the moment, I am writing the mdpa in m and changing the mdpa file to cm to avoid this problem. But it would be nic

[2021-05-31 12:46] jginternational commented on #811
Thanks for reporting @sunethwarna
I'll take a look

[2021-06-02 14:48] mpentek commented on #701
@sunethwarna as it affects him as well

Was this reverted again? It seems we have again "//" as separators and not "_". That is very bad as we define output based on model part names.

[2021-06-02 15:03] sunethwarna commented on #701
Hi, Is there a way to avoid using "-" when naming model parts, submodel parts when used with groups? Because hdf5 cannot write names with "-" (no idea why tho). @jginternational . These "-" are automatically generated when you have groups within groups :/

[2021-06-02 15:49] mpentek commented on #701
That was the proposal to get away from "//", which was conflicting with path separators.

[2021-06-03 07:41] AFranci opened #812 "[PfemFluid] Error with the new changes"
Hi @jginternational

I have just updated the interface and I am having an error trying to use the PfemFluid interface. Can you take a look at it, please?

This is the error I get

![Screenshot from 2021-06-03 09-38-42](https://user-images.githubusercontent.com/25818902/120606832-e3e79e80-c44f-11eb-899f-3b33d3f0c6ed.png)

thankd

[2021-06-03 08:07] AlejandroCornejo commented on #812
Must be something related to the latest DEM changes??

[2021-06-03 09:37] jginternational commented on #812
It was a problem with the conflict resolution.

Is it fixed now?

[2021-06-03 09:41] AFranci commented on #812
yes, thanks!
do you confirm it @AlejandroCornejo?

[2021-06-03 16:06] #812 closed

[2021-06-14 09:49] jginternational opened #814 "FSI Modelpart naming"
RuntimeError: Error: DEPRECATION: The ModelPart "FluidNoSlipInterface2D_InterfaceFluid" is retrieved from the Model by using the flat-map!
This was removed end of November 2019
Please prepend the Parent-ModelPart-Names like this:
"FluidModelPart.FluidNoSlipInterface2D_InterfaceFluid"

[2021-06-16 08:59] #814 closed

[2021-06-29 10:33] #811 closed

[2021-07-12 13:13] jgonzalezusua opened #819 "[FluidDEM] Problem with FluidDEM::write::writeParametersEvent"
Hi @jginternational,

I am writing to you because I am getting an error when I try to write the ProjectParameters.json of a case from the FluidDEM application. I am on the last version of the master of the GiDInterface. The error is the following:

[code]

It looks like it does not find the hydrodynamic_law even though I have defined it in the problem type. Could you help me?

[2021-07-13 08:10] jginternational commented on #819
Try with this branch
https://github.com/KratosMultiphysics/GiDInterface/pull/818
@jgonzalezusua

[2021-07-13 10:48] jgonzalezusua commented on #819
Hi @jginternational,

I am still getting an error:

[code]

I do not know what is it

[2021-07-13 10:50] jginternational commented on #819
Can you attach a zip with the model? (no mesh is required)

[2021-07-13 10:58] jgonzalezusua commented on #819
Find it attached in this message. I have found that the error shown above appears when I click in 'Material relations' button:

[code]

[Periodic_bounding_box.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/6808303/Periodic_bounding_box.gid.zip)

[2021-07-13 11:23] jginternational commented on #819
You will need to ->
Create a new case, select fluid DEM
Import GiD model (Files > Import > Import GiD Model)
Reattach the existing groups to the tree conditions (Fluid parts, inlet, outlet...)

This branch breaks the backward compatibility

[2021-07-13 11:33] jgonzalezusua commented on #819
I will close this issue

[2021-07-13 11:33] #819 closed

[2021-07-22 15:46] mpentek opened #821 "[Kratos][CFD] Problemtype 8.1 with GID 15.0.3"
In one model I can have a group only containing volumes and have added to this:

conditions -> custom velocity constraints
results -> gid output -> drag results

For another, very similar model it only allows me the use a group containing only surfaces.

[2021-07-25 19:45] jginternational commented on #821
I will need more information in order to reproduce this. Could you attach a zip with the model?

[2021-07-26 06:40] mpentek commented on #821
This is a model which has such issues: https://syncandshare.lrz.de/dl/fi3X57FgcR9BWDcaYEpfqH13/Gbeb.gid

[2021-07-28 06:47] mpentek commented on #821
Apart from this seeming to be a bug, similar technical issues I see when trying to add a model part to the drag results (git output).

Mind you, for me these only represent a temporary workaround anyway, as in the end I need a model part (or better said nodes list) which only contains nodes such that I can have some specific conditions on these.

Still, having groups containing only volumes should

[2021-07-30 09:38] rubenzorrilla opened #822 "[ConvDiff][CHT] Solid nodes not written"
While creating a case I realized that the solid domain nodes are not written if initial conditions are not specified.

[2021-07-30 13:12] jginternational commented on #822
I could not reporduce this, nor detect the missing nodes

[2021-07-30 13:14] rubenzorrilla commented on #822
Create for instance the cooling cylinder example and remove the initial conditions in the solid. Nodes won't be written in the solid .mdpa.

[2021-07-31 18:15] jginternational commented on #822
I've done that. The only difference between both cases is the Begin SubModelPart TEMPERATURE_Solid

[2021-08-03 07:46] mpentek opened #824 "The gid home website is down"

[2021-08-03 07:57] rubenzorrilla commented on #824
There is a power shutdown at CIMNE and most probably the server that hosts the website is down because of this. If this is the reason, which I think it is, it is expected to be solved tomorrow.

[2021-08-03 08:35] jginternational commented on #824
@rubenzorrilla is right. Also CIMNE mail is down today

But the licence service is Online, so we can still use the cloud licences 😄

[2021-08-04 16:20] #824 closed

[2021-08-06 05:15] mpentek opened #825 "Geometry -> delete randomly switches back and forth for also deleting lower entitites"
GiD 15.0.3
When deleting geometric entitites, it seems to switch back and forth every now and then between also deleting lower entitites or not. Perhaps it is linked to some hidden default.

[2021-08-06 13:47] rubenzorrilla opened #826 "[ConvDiff] Unique part"
Convection-diffusion interface only allows to select one part. This precludes creating cases with more than one material.

Enabling the use of more than one part might affect the CHT and Buoyancy GUIs, for which the fluid part needs to be unique.

[2021-08-06 16:42] jginternational commented on #825
If you mean that the lower entities are erased (or not) when deleting entities as a user, it's a check that you can activate when deleting.

https://gidsimulation.atlassian.net/wiki/spaces/GRM/pages/2385547468/Delete

<img width="1027" alt="Screenshot 2021-08-06 at 18 38 26" src="https://user-images.githubusercontent.com/5918085/128543519-0ec707a7-c533-4f7b-afd7-9a6e0df608d0.png">

[2021-08-07 08:11] mpentek commented on #825
I know that activation part, had the impression that recently it was jumping back and forth automatically. I will pay more attention to it, to see if it is so and what actions it can be linked to.

[2021-08-07 08:11] #825 closed

[2021-08-09 11:23] jginternational commented on #821
In Fluid 3D application, the condition 'Custom Velocity Constraints' is restricted to surfaces.
I can change that, and let users pick between points, lines, surfaces, and volumes. Theres only 1 rule. Mix is not allowed, a condition -  group relation will print only 1 type of element. If you assign this velocity on this group for surfaces, it will only print the linear mesh elements, even if the gr

[2021-08-09 11:39] mpentek commented on #821
I think that the Cusomt Velocity Constraints should not be restricted to surfaces. I agree with the rule that the mixing of entities should not be allowed. Let me know if I can test it.

[2021-08-10 13:23] rubenzorrilla commented on #821
Just mentioning that I agree with @mpentek 's observations:
1. Custom velocity constraints shouldn't be restricted to surfaces (indeed a potential use case of this, which is to fix corners in 2D and edges in 3D to avoid the spurious slip velocities, could be handled by changing it to allow lower entities).
2. The add submodelpart should be capable to only write nodes. As far as I understand, if yo

[2021-08-11 13:45] mpentek commented on #821
I have not tried using the add submodel part without having either conditions or elements selected. @jginternational could you clarify the intended use is this case? It would be great to have a warning (or some text) that nodes will be anyway created.

[2021-08-11 14:46] jginternational commented on #821
Yes, the base of the custom submodelparts are the nodes, and you can add the Conditions and/or the Elements.
About displaying warnings, there are not many places to display them.

[2021-08-11 15:05] rubenzorrilla commented on #821
@jginternational is technically possible to add another `Write nodes` option that iis not modifiable by the user? This would be sufficient to indicate that nodes are always written.

[2021-08-12 06:13] mpentek commented on #821
Maybe with the box for write nodes ticked by default and without the possibility of changing?

[2021-08-12 07:21] jginternational commented on #821
That's easy! I'll add a PR

[2021-08-12 08:06] rubenzorrilla commented on #821
This is exactly what I meant. :wink:

[2021-08-23 09:48] rubenzorrilla commented on #822
@jginternational you fixed this in #828 right?

[2021-08-25 10:21] rubenzorrilla commented on #822
Closing then. Thanks!!!

[2021-08-25 10:21] #822 closed

[2021-09-21 09:10] rlrangel opened #839 "[PFEM] Application not opening"
PFEM application is not opening.
It says "namespace ::PfemFluid not found".

[2021-09-21 13:33] jginternational commented on #839
@rlrangel I think it's fixed

[2021-09-22 07:53] rlrangel commented on #839
It seems so. Thanks.

[2021-09-23 08:06] AFranci opened #840 "[PfemFluid] Other bug"
When I open the default example of pfem fluid, I get this error
![image](https://user-images.githubusercontent.com/25818902/134473508-26d0e9e6-4831-4e69-bc3e-d77c7125f4bd.png)

@jginternational can you please take a look at it asap? Today I have to share the code with a student..

[2021-09-23 08:30] #839 closed

[2021-09-23 08:36] jginternational commented on #840
You can try it

[2021-09-23 08:41] AFranci commented on #840
Thanks, now it works!

[2021-09-23 08:50] #840 closed

[2021-09-23 09:01] AFranci opened #841 "[PfemFluid] another bug"
I cannot run cases from GiD and it does not even create ProjectParameters.json

![Screenshot from 2021-09-23 10-59-16](https://user-images.githubusercontent.com/25818902/134480393-0d72c037-6dd8-4b57-8c90-5029cc077289.png)

[2021-09-23 09:27] jginternational commented on #841
It should be fixed. This happends because of the namespace structure, that finds functions in ascending order

[2021-09-23 15:05] #841 closed

[2021-10-08 11:30] jginternational opened #843 "[PFEM Thermic] Examples not working"
I cannot run the examples for the PFEM Thermic app

`RuntimeError: Error: The item with name "computing_model_part_name" is present in this Parameters but NOT in the default values`

case:
[aaa.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/7310844/aaa.gid.zip)

Just try to generate any case in the examples window
![image](https://user-images.githubusercontent.com/5918085/136549

[2021-10-08 11:32] #826 closed

[2021-10-08 11:32] #821 closed

[2021-10-29 16:38] jginternational opened #846 "[MPM] example not working"
As pointed in #551
We need to update modelpart names & paths

[2021-10-30 13:06] rubenzorrilla commented on #808
@KratosMultiphysics/structural-mechanics has the registering name of that claw. changed recently?

[2021-10-30 13:17] rubenzorrilla commented on #808
OK, I guess that this is now stored in the constitutive models app.

[2021-10-30 16:31] AlejandroCornejo commented on #808
ConstitutiveLawsApp to be exact ;)

El El sáb, 30 oct 2021 a las 15:18, Rubén Zorrilla ***@***.***>
escribió:

--
[image: CIMNE Severo Ochoa][image:
https://camins.upc.edu/en/shared/imatges/foto_prova/@@images/image.jpeg]
<http://www.cimne.com>
*Alejandro Cornejo*, PhD Civil Engineer
​​Associated professor at UPC-DECA - PostDoc researcher at CIMNE
Edifici C1-117 Campus Nord UPC
Secció de Mecànica

[2021-11-02 19:30] jginternational opened #847 "[Embedded] Deprecated function"
Embedded Fluid thows this warning

[code]

[2021-11-03 07:40] VeronikaSinger commented on #846
Hi @jginternational

there is a problem in the ParticleMaterials.json. The constitutive variables should be written only for the Initial_MPM_Material (Body Mesh) and not for  both - the blue marked text should be deleted:
![image](https://user-images.githubusercontent.com/37303131/140023261-8d4c541a-1660-4c73-a0b0-119f3d08ff97.png)

[2021-11-03 07:45] rubenzorrilla commented on #847
I'll try to have a look ASAP. Thanks for reporting.

[2021-11-09 09:24] jginternational opened #850 "Pfem Melting notes (GUI only)"
08/11/21 Meeting 08/11/21 notes:

### Melting object
- Parts
    - Elements
	- [ ] Leave only `LagrangianFluidVMS3D`
	- [ ] Remove the selector

    - Const law in parts
	- [ ] Remove the selector
    - [ ] Leave only Material (remove properties) and emissivity and convection coefficient

- Conditions
    - [x] Leave Fixed velocity la base

- Materials
	- [ ] Change Materials and add missing param

[2021-11-09 09:35] maceligueta commented on #850
08/11/21 Meeting 08/11/21 notes additions (kernel changes only):

- [ ] Make sure the app reads the materials file and adds all properties to Properties 1
- [ ] Improve the RegenerateMesh function to accept an Id for element properties and another for conditions properties
- [ ] Divide RegenerateMesh is severa subfunctions
- [ ] Migrate all the laser operations to the LaserProcess
- [ ] Set the in

[2021-11-09 14:15] miguelmaso opened #851 "not printing calculation files"
Recently I'm not able to generate the calculation files using the PfemFluidDynamicsApplication.

Branch: master
App: PfemFluidDynamicsApplication
GiD version: 15.1.3d

![imagen](https://user-images.githubusercontent.com/25640870/140939259-6f5c1db8-210d-4cc1-b13d-4555b3c03c34.png)

[2021-11-09 14:16] miguelmaso commented on #851
fyi @AFranci

[2021-11-09 14:36] AFranci commented on #851
Thank you @miguelmaso , I had the same issue..

[2021-11-09 14:48] AlejandroCornejo commented on #851
![imagen](https://user-images.githubusercontent.com/26402605/140946077-98bf5f06-d20c-4834-8382-99fb970fafaf.png)

[2021-11-09 16:16] jginternational commented on #851
Grrrrr You can try it now. Hope this fix it

[2021-11-09 16:34] AFranci commented on #851
Now it's working!

[2021-11-09 17:09] miguelmaso commented on #851
Thanks

[2021-11-09 17:09] #851 closed

[2021-11-11 11:46] jgonzalezusua opened #853 "[DEM] Problems with condition assignation in groups"
Hi @jginternational, I am getting an error when I use the DEMApplication of GiDInterface:

`wrong # args: should be "spdAux::ProcGetFilesValues domNode"
wrong # args: should be "spdAux::ProcGetFilesValues domNode"
    while executing
"spdAux::ProcGetFilesValues"
    ("eval" body line 3)
    invoked from within
"eval [$procNode text]"
    (procedure "gid_groups_conds::eval_proc" line 69)
    invoke

[2021-11-11 11:48] #853 closed

[2021-11-11 18:38] jginternational commented on #853
I could not reproduce the error using gid 15.1.2d and the master branch updated.

If this is still an open issue, i'll need more information (steps to reproduce it)

[2021-11-12 09:11] jgonzalezusua commented on #853
It is closed because it's solved. Sorry for the inconvenience.

[2021-11-12 10:46] jginternational commented on #850
@maceligueta @juliobarna

At this point, the problemtype generates:
- mdpa with nodes, elements and submodelpart for the floor
- project parameters json
- materials file
- laser file

[melting.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/7526910/melting.gid.zip)

[2021-11-16 15:58] jgonzalezusua opened #855 "[FluidDEM] ElementType in ProjectParameters is empty"
Hi @jginternational ,

I am writing to you because I found two errors in the interface when it writes the ProjectParameters.json. When we introduce a particles injector the "ElementType" variable is empty but it should appear SphericPartDEMElement3D. Now appears what follows:
`"ElementType"                    : [],`

The other error is the type of particles in the Inlet.mdpa, by default GiDInterfa

[2021-11-24 10:25] jgonzalezusua commented on #855
Hi @jginternational, could you help us to solve the issues?

[2021-11-24 10:59] jgonzalezusua commented on #855
Ok, fine.

[2021-11-25 17:32] jginternational commented on #808
By adding ConstitutiveLawsApplication to the compiled apps, it works. Should it be declared as dependency? @rubenzorrilla

[2021-11-25 18:06] #808 closed

[2021-11-26 08:34] rubenzorrilla commented on #808
mmm... Not a formal dependency (you could run the cases with a linear elastic model). In any case I think it is good that we always add this one.

[2021-12-02 15:15] jginternational commented on #846
Hi @VeronikaSinger

I fixed that, but now I'm experiencing this issue:
[code]

[2021-12-03 11:36] VeronikaSinger commented on #846
Hi
this problem occurs if the defomation is too large within one time step and hardly depends on the discretization. How did you chooose the mesh size for this example? If I generate the mesh as proposed by GiD I don't receive this error.
However, if triangles are used, the number of material points (PARTICLES_PER_ELEMENT) should be changed to 3 or 6 instead of 10 to avoid the warnings.

[2021-12-18 10:55] rubenzorrilla opened #861 "[All] Setting unrequired constrained status to true"
When writing the  BC vector processes (e.g. assign_vector_variable_process) we set all the components to be constrained, that is `"constrained" :  [true,true,true]`. This enforces the addition of the three components of the variable of interest as DOF (e.g. `VELOCITY_X`, `VELOCITY_Y` and `VELOCITY_Z`) even for 2D simulations, which is a complete non-sense and a waste of memory.

In a 2D simulation

[2022-01-20 14:47] jginternational opened #863 "[All] Apps using common MainKratos.py"
Starting with #858 we are unifying the kratos launch script.
This is the list of applications that are currently updated to this policy

- [ ] Buoyancy
- [ ] Conjugate heat transfer
- [ ] Convection diffusion
- [ ] Embedded fluid
- [ ] CDEM
- [ ] DAM
- [ ] DEM
- [ ] DEM PFEM
- [ ] Fluid
- [ ] Fluid DEM
- [ ] FSI
- [ ] MPM
- [ ] PFEM Fluid
- [ ] PFEM Thermic
- [ ] Potential flow
- [ ] Shallow water

[2022-01-20 15:02] rubenzorrilla commented on #863
Just mentioning that we should update the wiki entries accordingly ASAP.

[2022-01-20 15:42] jginternational commented on #863
@KratosMultiphysics/dem @KratosMultiphysics/dam
Check the issues related

[2022-01-24 11:49] joaquinirazabal commented on #863
The DamApp has been updated in:
https://github.com/KratosMultiphysics/GiDInterface/pull/864
https://github.com/KratosMultiphysics/Kratos/pull/9574

[2022-02-04 14:45] jgonzalezusua opened #866 "[FluidDEM] Boundary conditions over particles does not work"
Hello, I have a problem when using the FluidDEM application. I can assign boundary conditions over particles but in the DEM mdpa, GiD does not write these conditions.

[2022-02-08 19:33] #855 closed

[2022-02-11 10:44] jginternational commented on #866
I'm not sure if I can reproduce this. I apply the "Boundary conditions over particles" over the Inlet group, selecting volumes in the entities selector.
The DEM.mdpa contains the submodelpart `DEM-VelocityBC_Spheres` but not a Conditions, since the velocity is applied directly over the nodes

[code]

[2022-02-11 14:35] jginternational commented on #866
Sorry, I my fault. I meant that I applied over the spheres volume part

[2022-02-11 17:33] jginternational commented on #861
I think this enhacement is already done.

I've created a 2D structural case and this is the output.
[code]

Maybe in another app it can be different

[2022-02-11 17:54] #846 closed

[2022-02-11 18:02] #783 closed

[2022-02-12 11:06] rubenzorrilla commented on #861
I think it is. Provided that the `null` keyword appears in the `value` array the corresponding third entry in the `constrained` array becomes meaningless.

[2022-02-14 09:03] #861 closed

[2022-02-23 10:01] EduardGomezEscandell opened #869 "Compressible Navier Stokes"
Hello, I'm describing here what the compressible fluid app would look like as we talked yesterday. It's a subapplication of the FluidDynamics one so it has a lot in common.

Available in 2D and 3D

About the mesh:
- Elements are:
    - Triangle: CompressibleNavierStokesExplicit2D3N
    - Quadrilateral: CompressibleNavierStokesExplicit2D4N
    - Tetrahedron: CompressibleNavierStokesExplicit3D4N
- C

[2022-03-14 17:45] jginternational commented on #869
Hi @EduardGomezEscandell

You can do most of the things in the issue, see that it's just edit the xml files.

I'll check the Results part, maybe is a little bit tricky

[2022-03-18 15:18] miguelmaso opened #872 "[Structural] [2D] [Plane stress] Not possible to specify the thickness after changing the CL"
The only way to specify the thickness in a plane stress simulation is to choose `Linear Elastic Plane Stress`CL before selecting the group. If the CL is modified after selecting the group, the thickness parameter is no enabled/disabled according to the CL.

To reproduce:
1. Group 1: Assign plane strain to a body.
2. Group 2: Assign plane stress to a body.
3. Change Group 1 to plane stress.
4. Chan

[2022-03-18 15:18] miguelmaso commented on #872
fyi @AlejandroCornejo

[2022-03-25 15:43] #872 closed

[2022-03-25 15:52] jginternational commented on #872
@miguelmaso Check if it works now (on master branch)

[2022-03-28 14:46] miguelmaso commented on #872
Yes, it works. Thanks

[2022-04-12 13:33] AFranci opened #873 "[PfemFluid] Wave monitoring process"
hi @jginternational

I am trying to add to the PFEM-Fluid interface a process to monitor the wave height.

I have done a first implementation and I obtained something close to what we need and I would need your help to conclude it.
In particular, I need to put inside "[" "]" a list and give the possibility to add more points from the interface in the coordinates button (up to now, only one node ca

[2022-04-22 09:44] AFranci commented on #873
Hola Javi, como lo ves?
Gracias
Alessandro

[2022-05-05 16:39] KlausBSautter opened #874 "Cannot use GiD 15.1.5d"
Hi guys, this is not interface related but I do not know where else to post this. I just installed GiD 15.1.5d and after creating a group I cannot right-click it to assign entities. After right-clicking I get the following error msg and cannot proceed. I also reinstalled GiD and get the same error. Btw: why is there no zipped folder with the executable anymore? Only the deb file :(

acan't read ":

[2022-05-05 16:45] KlausBSautter opened #875 "Linking Kratos"
Hi, I have another problem. I followed all the steps on the main page to link my Kratos folder to GiD. It seems to work, as I can see the Kratos problemtype and when I open it there is all the applications and stuff.
BUT: It always asks me to download the Kratos python package.
![grafik](https://user-images.githubusercontent.com/26179700/166972295-2468be6c-b15f-47e5-8098-8998dbfeea61.png)

This is

[2022-05-05 16:51] KlausBSautter commented on #874
![output2](https://user-images.githubusercontent.com/26179700/166973257-a11cec79-e58c-45fa-80f9-65273e3bfcdd.gif)

[2022-05-06 07:19] KlausBSautter commented on #874
I am using the new Ubuntu 22.04, has GiD been tested in that version?

[2022-05-06 08:14] rubenzorrilla commented on #874
You can directly contact the GiD support team by clicking the question mark in the bottom right corner of their website. See below. Alternatively, you can email them in `gid@cimne.upc.edu`.

![gid_support](https://user-images.githubusercontent.com/19992225/167093623-87f95048-ab4d-47a3-9796-5f89b7a13d2d.jpg)

Closing as this is not directly related to Kratos.

[2022-05-06 08:14] #874 closed

[2022-05-06 08:32] KlausBSautter commented on #874
Alright thanks ! :)

[2022-05-06 10:00] mpentek commented on #875
This seems to be linked to some new aspects, since the Kratos 9.0 problemtype (python wheel packages - with version 3.10). @jginternational @roigcarlo did you receive similar feedback? Did someone test it?

[2022-05-06 13:52] EduardGomezEscandell opened #876 "NACA0012 2D example case for FluidMechanics does not work"
I get an error trying to load the NACA0012 example in 2D in branch master.

Here is the log:

[code]

[2022-05-06 16:50] rubenzorrilla commented on #876
@jginternational could you please have a look to it?

[2022-05-09 10:13] VeronikaSinger commented on #875
Hi I also have the same problem in windows.

[2022-05-10 10:21] jginternational commented on #875
Dear @KlausBSautter and @VeronikaSinger

I misunderstood the problem.

I think that, if you do not want to use the pip packages and use the local compiled version, you should apply the proper configuration. Follow the steps:
- Go to Preferences,
- Click on the dropdown and select the local compiled version.
- Apply
- Close GiD and reload Kratos. The message should no longer appear.

![image](https

[2022-05-10 11:14] jginternational commented on #876
Dear @EduardGomezEscandell
I could not reproduce this in Linux or Windows.

Is this still happening? I'll need more information to reproduce it

[2022-05-10 11:27] KlausBSautter commented on #875
Cool, thanks that works! Maybe we can add this to the general description on this GitHub page.

[2022-05-10 15:11] #875 closed

[2022-05-10 15:34] jginternational commented on #873
Ciao Alessandro

Tras mirar con calma e intentar resolverlo, he llegado a la conclusion de que igual hay que cambiar un par de cosas.
Si quieres que se aplique a varios nodos, es posible que lo que quieras es un submodelpart con los nodos? En lugar de tener las coordenadas como parámetros (para el usuario introducir coordenadas puede ser más costoso que seleccionar nodos)

[2022-05-12 14:21] AFranci commented on #873
Hola @jginternational muchas gracias por la ayuda! te comento en #877

[2022-05-23 08:59] KlausBSautter opened #878 "[StructMech] Lineload Condition"
Hi, the line load condition is missing in the current GiD interface. Could we add it again? The condition itself is written in the StructuralMechanicsApplication in line_load_condition.cpp

Klaus

[2022-05-24 08:06] EduardGomezEscandell commented on #876
Ok I just checked and the issue appears when trying to open the NACA0012 example from the Fluid application instead of the potential flow application.

I suppose it's not a bug, I just got confused by the error message since it is not quite as explanatory as it could be.

[2022-05-24 08:06] #876 closed

[2022-06-15 10:41] jgonzalezusua opened #879 "[FluidDEM] FEMtoDEM mesher does not work"
I am having problems related to the FluidDEM application in the last version of the GiDInterface master branch. I am creating a toy example which consists of a cube with some DEM particles inside. Those particles should be created from the mesh using the FEMtoDEM mesher but, when the mesh is created, I cannot see the spheres. This problem only affects to the FluidDEM, everything works if I use DEM

[2022-06-16 11:20] EduardGomezEscandell commented on #869
Closing because I will no longer work on this issue; if anyone whants to take over, be my guest.

[2022-06-16 11:20] #869 closed

[2022-06-20 08:33] jgonzalezusua commented on #879
Hi @jginternational, can you have a look at this problem, please?

[2022-06-21 06:41] KlausBSautter commented on #878
@jginternational, can I do this on my own? Is there a tutorial on how to do these things?

[2022-06-21 13:18] jgonzalezusua commented on #879
Ok, I will try it. My actual version is 15.1.1d which is very old

[2022-06-28 15:11] #879 closed

[2022-07-05 08:28] studenttubs opened #881 "PFEM application missing"
Hello,

I am doing a student research project in tsunami engineering and wanted to use the PFEM module of KratosMultiphysics. Unfortunately it is not installed. I tired to reinstall the whole program. I went for the latest version. Is there a way I can add the module to the GiD Interface manually?
Thanks for helping

Johanna

[2022-07-05 09:26] pooyan-dadvand commented on #881
@jginternational and @KratosMultiphysics/pfem

[2022-07-08 09:37] AFranci commented on #881
Hi Johanna,
As Javi told you, PfemFluidApplication is not in the Kratos release but it should work regularly both in Kratos and in the GiD user-friendly interface.
In any case, feel free to contact me at falessandro@cimne.upc.edu if you are experiencing some issues.
Regards,
Alessandro

[2022-07-26 11:26] #434 closed

[2022-08-04 19:05] jauharr opened #883 "GiD-Kratos Compilation issue"
When following the guidelines for windows, I am facing the issues of

Why it opts for the Windows10.0.25174 SDK? Visual Studio 17 doesn't support that...
--Selecting Windows SDK version 10.0.22000.0 to target Windows 10.0.25174.

MSBUILD : error MSB1009: Project file does not exist.
Switch: install.vcxproj

-- Performing Test CMAKE_HAVE_LIBC_PTHREAD
-- Performing Test CMAKE_HAVE_LIBC_PTHREAD - Fai

[2022-08-05 14:36] loumalouomega opened #884 "[MDPAGenerator] MDPAGenerator generates Element2D4N for tetrahedra instead of Elementt3D4N"
Just that. Minor bug, very easy to fix (I think)

[2022-08-08 07:35] roigcarlo commented on #883
Hi @jauharr

Could you provide more details on the system you are trying to compile Kratos?
Do you have more than one version of VS installed?

If so, you need to tell CMake which confogurator to use with the -G option, and execute the configuration script from with the proper defines set (normally VS installs a shortcut that sets all the variables correctly)

Otherwise versions may be in conflict

[2022-08-08 10:25] jginternational commented on #884
Fixed @loumalouomega

[2022-08-08 10:25] #884 closed

[2022-08-08 10:27] loumalouomega commented on #884
Thanks

[2022-08-09 13:54] jauharr commented on #883
Thankyou for your reply.
I have the single version of VS 17. I had some traces of VS 2015. I think those were not the issue.
I have been trying to build multiple applications at the same time including linear solver application and structural mechanics application. However, the selecting only linear solver and structural mechanics did work. The error might have originated from one of the applicati

[2022-08-09 13:56] roigcarlo commented on #883
Hi @jauharr

If you send me the list of the apps you were trying to compile I can check if is there something wrong on our side.

[2022-08-09 13:58] jauharr commented on #883
The list of applications is as follows:
Linear Solvers
Structural Mechanics
Fluid Dynamics
Delaunay Meshing
DEM
Fem To DEM
Pfem Fluid Dynamics

[2022-08-09 14:09] roigcarlo commented on #883
Oh, I see.

I am not 100& sure, but most likely the problem is because of the `DelaunayMeshingApplication`. This application will attempt to download a dependency directly in the configuration stage and if it fails to store it for any reason (download went wrong, no write permissions, etc...) it prevents the project file from being generated.

In any case, an error should appear on screen, if you

[2022-08-09 14:43] jauharr commented on #883
I am fairly new to this development. However, the error has been reproduced. I shared the output of PowerShell in the txt file in the attachment.
[powershellout.txt](https://github.com/KratosMultiphysics/GiDInterface/files/9291750/powershellout.txt)

[2022-08-09 14:46] roigcarlo commented on #883
Ok, the error part is this:

[code]

You need to include that flag in the `configure.bat` file. It should look something like this:

[code]

[2022-08-09 14:56] jauharr commented on #883
I tried this solution however, the error is like this:
[code]

[2022-08-09 14:58] roigcarlo commented on #883
mm can you share me the configuration file?

[2022-08-09 15:01] jauharr commented on #883
Please check the attached file
[configure.txt](https://github.com/KratosMultiphysics/GiDInterface/files/9292127/configure.txt)

[2022-08-09 15:09] roigcarlo commented on #883
There is a missing `^` at the end of line 52.

In the CMake flags section you have to make sure the line ends with a ^, which is the simbol for "continue line" in win bash.

Or you can put it all in the same line:

[code]

[2022-08-09 16:03] roigcarlo commented on #883
Ok, let me check some things, pthreads should not be used in win.

[2022-08-10 12:39] roigcarlo commented on #883
Dear @jauharr after some investigation I can confirm you that the pthread problem is not an issue for Kratos. Is just cmake checking if the system have the library or not. I am obtaning the same CMake logs in our build machine.

could you resend me the powershell output?

[2022-08-10 16:40] jauharr commented on #883
Thankyou for your time. The error still originates from the following.
[code]
I have included the script and PowerShell out put.
[configure.txt](https://github.com/KratosMultiphysics/GiDInterface/files/9302210/configure.txt)
[powershellout.txt](https://github.com/KratosMultiphysics/GiDInterface/files/9302211/powershellout.txt)

[2022-08-10 16:54] roigcarlo commented on #883
Hi, please try this one:
[configure.txt](https://github.com/KratosMultiphysics/GiDInterface/files/9302299/configure.txt)

[2022-08-10 16:55] roigcarlo commented on #883
Hi, Please try this one:
[configure.txt](https://github.com/KratosMultiphysics/GiDInterface/files/9302316/configure.txt)

[2022-08-10 17:02] jauharr commented on #883
All the applications compiled this time.

[2022-08-10 17:13] jauharr commented on #883
The compilation was rather fast this time. It didn't create bin/release directory. If that is the right compilation because in the video tutorial there is bin/release.

[2022-08-10 18:08] roigcarlo commented on #883
Ups my bad, I send you a file with the compile command commented.

Just remove the  `@REM` from lines 50, 51 and 52.

My apologies.

[2022-08-11 16:32] jauharr commented on #883
Thankyou for all the help. I remove the `@Rem` and I was able to compile but there were not bin/release folder for `.exe` application created. If there is any change in configuration file still required?

[2022-08-11 17:49] jauharr commented on #883
I am following this tutorial https://www.youtube.com/watch?v=zZq7ypDdudo

[2022-08-12 13:07] roigcarlo commented on #883
Hi @jauharr, Process in the video is indeed the correct. If it did not create the bin folder it means something crashed during the compilation. I can help you if you tell me the exact error (should appear in the powershell while running the script, which should jump directle to the error if you have already runned it once)

[2022-08-12 13:14] jauharr commented on #883
These are the errors I think
[code]
I have uploaded the whole output here.
[powershellout2.txt](https://github.com/KratosMultiphysics/GiDInterface/files/9316502/powershellout2.txt)

[2022-08-12 13:19] roigcarlo commented on #883
Hi,

Try adding `-DFORCE_LOCAL_ZLIB_COMPILATION = ON ^`

It seems to be conflicting with the one installed by postgresql

[2022-08-12 13:37] jauharr commented on #883
I added the command like this```

@echo on
cmake -G"Visual Studio 17 2022" -H"%KRATOS_SOURCE%" -B"%KRATOS_BUILD%\%KRATOS_BUILD_TYPE%"          ^
-DINCLUDE_FEAST=OFF                                                                                 ^
-DFORCE_LOCAL_ZLIB_COMPILATION = ON																	^
-DUSE_TRIANGLE_NONFREE_TPL=ON
[code]
CMake Error: Parse error in command line argument: FORCE_LOCAL

[2022-08-12 13:45] roigcarlo commented on #883
Hi, try without the spaces before and after the `=`

[2022-08-12 18:23] jauharr commented on #883
I compiled the applications again and still now `.exe` application created. The following could be the error
[code]

[2022-08-12 18:26] roigcarlo commented on #883
@AlejandroCornejo Any idea, I am not familiar with that app :S

[2022-08-24 05:30] alexbrownsoft opened #886 "Error running PFEM 2D FSI examples"
While running PFEM 2D FSI examples, below errors occur:

"Problem Writing MDPA block:
Element SurfaceRigidLagrangianElement2D2N Linear (2 nodes) not available for line entities on group Interface
End problems"

I assume this is some bug in GidInterface, is that correct?

[2022-08-24 19:06] rubenzorrilla commented on #886
Ping @AFranci @jginternational

[2022-08-24 19:31] jginternational commented on #886
Hi @alexbrownsoft

Could you attach a zip containing the case?

[2022-08-25 10:43] alexbrownsoft commented on #886
Dear Sir,

This is the official example in Gid, examples->pfem fluid->pfemfluid damage break fsi 2d

The files are also attached.
[examplePFEMfsi.gid.zip](https://github.com/KratosMultiphysics/GiDInterface/files/9423896/examplePFEMfsi.gid.zip)

[2022-08-26 16:26] alexbrownsoft commented on #886
Dear Sir,

Is there any update on this? @jginternational

[2022-08-26 20:48] #886 closed

[2022-08-26 20:49] jginternational commented on #886
Hi @alexbrownsoft , thanks for reporting.
You were right, it was an old bug, that produced this one like a week ago.

It should be fixed now

[2022-08-27 14:31] #873 closed

[2022-08-30 08:01] alexbrownsoft opened #889 "add deformation in PFEM FSI analysis"
I would like to add deformation result in PFEM FSI analysis, how can this be done in the GiD interface?

[2022-08-31 08:20] AlejandroCornejo opened #890 "[Structural] Time parameters should be also in Static analysis"
Dear all,

I think that, specially in non-linear simulations, incremental loading should be used. In the current ptype the delta time casn be changed only if dynamic calculation is performed. IMO this feature should be available also in static.

Can we add this? Do we have any inconvenience @jginternational @rubenzorrilla

[2022-08-31 08:25] rubenzorrilla commented on #890
It is already there if you select the quasi-static option. I'd leave it as it is right now.

[2022-08-31 08:26] AlejandroCornejo commented on #890
AH!!!! I did not know that :) THX

[2022-09-17 08:41] jginternational commented on #889
Hi @alexbrownsoft

Where in the ProjectParameters.json do you expect it? Is there any example in Kratos?

[2022-09-19 14:27] SADPR opened #900 "Multiple model parts for Convection-Diffusion cases."
Convection-Diffusion cases don't allow to use multiple parts.
![image](https://user-images.githubusercontent.com/61457043/191040487-7c498f15-02b5-4b54-a478-4bb12657a793.png)
@jginternational is this easy to fix? I am working with complex geometries so the use of the GiD interface saves me lots of time.
Thanks! @

[2022-09-20 14:30] jginternational commented on #900
@SADPR Are you sure that you are using the latest version (master branch)? I think this bug was fixed long time ago https://github.com/KratosMultiphysics/GiDInterface/commit/317e7e4c6d8ae1860807f52911b6b520884e34c6

[2022-09-28 15:38] NickNick9 opened #904 "Kratos conditions in Gid 16.1.0, MacOs"
Hi everybody,

I have an issue on Gid when I open a Gid file already existing made as a kratos problemtype.
In this file I have all the informations about IC, BC, materials, ecc, but I cannot neither see nor modify them.

I have tried clincking on Data-->Conditions, but nothing happend.

Even re-selecting the problemtype --> kratos, and choosing "Reset to new problem type" or "Transform to a new p

[2022-10-03 12:31] rlrangel opened #905 "Error Opening Kratos Problem Type"
After some months without using GiD in my office PC, I started facing the error shown in the image below when opening the Kratos problem type.
The dialog with the error message shows up before the applications dialog is displayed.

I tried to uninstall GiD and install the newest developed version (16.1.1), cloned again the repository, re-created the links as explained in the tutorial, but it did n

[2022-10-04 09:28] jginternational commented on #905
I don't know what is that X: unit

Let's diagnose it. Open GiD and load kratos problemtype.
In the command bar (bottom) execute this sentence:
`-np- W [Kratos::GetLaunchConfigurationFile]``

And make a screenshot so I can help
![image](https://user-images.githubusercontent.com/5918085/193785107-807d70a9-2697-4fbe-91df-fd2ec37d529c.png)

[2022-10-04 10:25] jginternational commented on #904
I could open your model fine in windows, so I assume the problem has something to do with Mac

![image](https://user-images.githubusercontent.com/5918085/193796150-936057ac-39ec-424b-8c1e-5e8138cf8930.png)

I'll do some extra testing.

If you open kratos (GiD Menu > Data > Problemtype > Kratos), is it loading fine?

[2022-10-04 10:25] #900 closed

[2022-10-04 10:25] jginternational commented on #889
ping @alexbrownsoft

[2022-10-04 10:36] rlrangel commented on #905
Hi Javi,

If I try to open Kratos problemtype, the error shown in my previous message appears, and nothing else.
But if I close that dialog and execute the command you suggested, the following warning appears:

![image](https://user-images.githubusercontent.com/69159206/193798245-3eec423d-a0e2-448e-ae3a-8450e72cfc71.png)

[2022-10-05 08:33] NickNick9 commented on #904
Hi Javi,

Sorry for answering you so late.
Now using the new version 16.1.1d I see that I can open the Gid file, but I
cannot see the groups that are inside. Can you see them?

Best regards,
Nicolò

Il giorno mar 4 ott 2022 alle ore 12:25 Javi Gárate <
***@***.***> ha scritto:

[2022-10-10 21:38] rlrangel commented on #905
An update on this.

The last commit where it was working well was this: https://github.com/KratosMultiphysics/GiDInterface/commit/4e1782a55c751d4c5cfd14a9e58c27204209af34

From the next commit, I start to have the problem:
https://github.com/KratosMultiphysics/GiDInterface/commit/9dcde3c0fb363071c0700300d1fab2a78f4226ea

[2022-10-11 14:10] rlrangel commented on #905
Another update.

Between these two commits, a new file was created, which is where the error occurs: [kratos.gid/scripts/Launch.tcl.](https://github.com/KratosMultiphysics/GiDInterface/blob/master/kratos.gid/scripts/Launch.tcl)

In function _GetLaunchConfigurationFile_, it tries to get the environmental variable HOME.

However, in my PC this variable is set to directory X, which apparently does no

[2022-10-11 14:31] escolano commented on #905
The problem is that in your Windows there is a environment variable named HOME with value "X:" and this unit really is not mapped in your computer.
(this is a common problem at CIMNE premises, our Windows machines starting usually map this unit letter X: to the network location \\masterdisc\users\your_user)
And this environment variable seem that is 'special' and don't appear or can be changed as

[2022-10-26 15:21] #905 closed

[2022-11-24 08:49] lauramoremar opened #909 "[MPM] Visibility of a strategy parameter which depends on the element type"
Hi,
I would like to make visible one option in the "Strategy parameters" section but only if I'm using a mixed Element.

I tried to do it using the **getStateFromXPathValue** procedure, but it didn't work. Probably I was doing something wrong:

`<value n="ActivateStabilization" pn="Stabilization" un="MPStabilization" help="Stabilization" open_window="0" actualize_tree="1" state="[getStateFromXPath

[2022-11-28 08:02] JuliaArce opened #910 "Problem in mesh generation with Kratos"
Hi!
I would like to ask for help as when trying to generate mesh with GiD - problemtype: Kratos, a message appears "Mesh not generated. There is no geometry, or there is nothing selected to be meshed".
I have reinstalled both GiD and Kratos for GiD; saved the project; tried and mesh with different element sizes... but the error keeps displaying. A screenshot is provided below:

![imagen](https://u

[2022-11-28 09:53] ipouplana commented on #910
Hi @jginternational, I also tested this in the Fluid 2D problemtype and got the same error...

It seems that every time I want to mesh a surface, this gets automatically set as "No mesh" and thus no mesh can be generated. I tried with "Reset mesh data", and even explicitly defining the "Mesh" option on the surface, but when I hit "Generate mesh..." the surface is automatically set as "No mesh" aga

[2022-11-28 10:39] rubenzorrilla commented on #910
Did you assign a part in the tree? From the snapshot it seems you didn't. If so, this is the problem.

[2022-11-28 10:59] ipouplana commented on #910
Thanks @rubenzorrilla . I did not think about that ^_^'

[2022-11-28 11:04] rubenzorrilla commented on #910
Note that you can check how to set a case in the "pre-loaded" examples (the pencil and paper button on top of the settings one).

Closing as it seems to be solved. Feel free to reopen if needed.

[2022-11-28 11:04] #910 closed

[2022-11-28 21:43] JuliaArce commented on #910
Thank you very much Dr. Zorrilla!!

I did assign a "part" and finally everything worked properly!

Best regards,

Julia

Missatge de Rubén Zorrilla ***@***.***> del dia dl., 28 de
nov. 2022 a les 12:04:

[2022-11-29 14:39] jginternational commented on #910
I know that the Fluid application should warn better about this

[2022-11-29 21:02] JuliaArce commented on #910
It's okay, at least it works :)

Thanks,

Julia

El dimarts, 29 de novembre de 2022, Javi Gárate ***@***.***>)
va escriure:

[2022-11-30 08:56] miguelmaso opened #911 "About time parameters: Physics vs Discretization [Inconsistent]"
The following image corresponds to fluid problemtype, but its structure is commonly used in most problemtypes. In red, the physical nature of the problem is defined. In blue, discretization and numerical parameters are specified.

![image](https://user-images.githubusercontent.com/25640870/204749053-de669a3a-051c-4015-a34e-21ebf6d54a24.png)

However, time settings are not following the stated conv